dist/about.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - About Us</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-about"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>As Simple As Possible</h1>
                            <p>Loriam ipsom dolor sit amet information is in the status for the info.</p>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-about.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>
                            <span>On a Mission to Simplify</span> Manufacturing Operations
                        </h2>
                        <p>At Parsec we are on a mission to help make your manufacturing operations as simple as possible, by giving you greater visibility, knowledge, and control. To do this we combine our TrakSYS software platform, an integrated set of applications designed to effectively manage manufacturing operations, with our extensive experience in Manufacturing IT, Lean methodology, and solution delivery.</p>
                        <p>We have been in business for over 25 years, and our TrakSYS software is now deployed in over 100 countries, in a variety of industries. Our team of dedicated, experienced, and enthusiastic professionals are committed to the realization of our vision and our client’s objectives.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- stats-->
    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Our Footprint</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="stat-boxes">
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-mass-production.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">6000</span>
                                <span class="text-sm">Deployments</span>
                            </h3>
                        </div>
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-engineer.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">80000</span>
                                <span class="text-sm">Daily Active Users</span>
                            </h3>
                        </div>
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-network.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">100</span>
                                <span class="text-sm">Countries</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-sec">
                        <h3>Intersted in Joining The Team?</h3>
                        <a class="btn btn-gray" href="#">Browse Openings</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/about.pug
extends extends/layout

block body
    body.page-about

block title
    title Parsec - About Us

block content

    // header
    include includes/header-3
    
    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 As Simple As Possible
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-about.png" alt="name")
    
    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 <span>On a Mission to Simplify</span> Manufacturing Operations
                        p At Parsec we are on a mission to help make your manufacturing operations as simple as possible, by giving you greater visibility, knowledge, and control. To do this we combine our TrakSYS software platform, an integrated set of applications designed to effectively manage manufacturing operations, with our extensive experience in Manufacturing IT, Lean methodology, and solution delivery.
                        p We have been in business for over 25 years, and our TrakSYS software is now deployed in over 100 countries, in a variety of industries. Our team of dedicated, experienced, and enthusiastic professionals are committed to the realization of our vision and our client’s objectives.

    // stats
    section.stats
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Our Footprint
            .row
                .col-lg-12
                    .stat-boxes
                        .stat-box
                            span.icon
                                img(src="images/icon-mass-production.png", alt="name")
                            h3
                                span.text-lg 6000
                                span.text-sm Deployments
                        .stat-box
                            span.icon
                                img(src="images/icon-engineer.png", alt="name")
                            h3
                                span.text-lg 80000
                                span.text-sm Daily Active Users
                        .stat-box
                            span.icon
                                img(src="images/icon-network.png", alt="name")
                            h3
                                span.text-lg 100
                                span.text-sm Countries
            .row
                .col-lg-12
                    .cta-sec
                        h3 Intersted in Joining The Team?
                        a.btn.btn-gray(href="#") Browse Openings

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
