src/views/compliance.pug
extends extends/layout

block body
    body.page-compliance

block title
    title Parsec - Compliance

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Streamline Compliance Improve Quality
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-compliance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Auto Recordkeeping to Streamline Compliance and Improve Quality
                        p Today’s regulatory environment demands better quality and compliance processes. For those in industries regulated by the FDA and EU compliance, it is crucial to have systems that assure stringent compliance with government and industry standards — as well as extensibility to comply with future requirements. TrakSYS is a unified Manufacturing Operations Management (MOM) platform that helps manufacturer’s meet an assortment of regulatory requirements and standards including FDA’s 21 CFR Part 11, Part 820, GMP, ISO 13485, European Annex 11, and ISO 9001.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-review.png", alt="name")
                        h4 Comply With Regulatory Requirments
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safety.png", alt="name")
                        h4 Protect Customer Safety and Brand Reputation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-objective.png", alt="name")
                        h4 Improve Efficiency and Accountability
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-time.png", alt="name")
                        h4 Minimize Administration Costs

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS makes it possible to easily define the rules of automating your data collection throughout the production process. With digital record-keeping, ensuring Traceability and Compliance are built-in by design. All necessary documents are easily accessible to authorized users through a web interface. Interactive reports and dashboards provide real-time notification of non-conformance, contextualized information for identifying root causes, and comprehensive audit trail.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/compliance-traceability.png", alt="name")
                            .panel-intro
                                h2 Traceability
                                p Record, track, and trace the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products. Provide real-time transparency, to help you proactively limit the impact of any quality problems before you ship the product.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-digital-signature.png", alt="name")
                            .panel-intro
                                h2 21 CFR Compliance-Digital Signature
                                p Automate comprehensive record collection with electronic signatures while maintaining 21 CFR Part 11 and Part 820 compliance.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-change-management.png", alt="name")
                            .panel-intro
                                h2 Change Management
                                p Managing change is a critical element of a risk mitigation strategy. A failure to manage change is a risk in and of itself that commonly traces back to major crises. TrakSYS ensures controls are in place to introduce system changes as well as maintain data integrity.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-audit-trail.png", alt="name")
                            .panel-intro
                                h2 Audit Trail
                                p TrakSYS allows configuration of user and group roles to maintain data integrity. As well as a configurable tracking of changes to system configuration, actions, data records, and electronic signatures to create a comprehensive audit trail.
                        .panel-box
                            .panel-media
                                img(src="images/compliance-development-test-production-environments.png", alt="name")
                            .panel-intro
                                h2 Development-Test-Production Environments
                                p TrakSYS architecture allows for parallel environments to manage FDA validated software installations. Develop without interruption, while system changes are tested and validated for production activation.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About Compliance
                        p Want to learn more about Compliance? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Many manufacturers are looking to proactive, real-time quality management processes and software applications to facilitate continuous improvement across these areas.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-01.png", alt="name")
                        h4 Case Study
                        p To excel in the highly competitive medical device industry, Proteus needed a software solution that could unify their production workflows and unique processes.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/compliance.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Compliance</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-compliance"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Streamline Compliance Improve Quality</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-compliance.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Auto Recordkeeping to Streamline Compliance and Improve Quality</h2>
                        <p>Today’s regulatory environment demands better quality and compliance processes. For those in industries regulated by the FDA and EU compliance, it is crucial to have systems that assure stringent compliance with government and industry standards — as well as extensibility to comply with future requirements. TrakSYS is a unified Manufacturing Operations Management (MOM) platform that helps manufacturer’s meet an assortment of regulatory requirements and standards including FDA’s 21 CFR Part 11, Part 820, GMP, ISO 13485, European Annex 11, and ISO 9001.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-review.png" alt="name">
                        </span>
                        <h4>Comply With Regulatory Requirments</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-safety.png" alt="name">
                        </span>
                        <h4>Protect Customer Safety and Brand Reputation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-objective.png" alt="name">
                        </span>
                        <h4>Improve Efficiency and Accountability</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-time.png" alt="name">
                        </span>
                        <h4>Minimize Administration Costs</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <p>TrakSYS makes it possible to easily define the rules of automating your data collection throughout the production process. With digital record-keeping, ensuring Traceability and Compliance are built-in by design. All necessary documents are easily accessible to authorized users through a web interface. Interactive reports and dashboards provide real-time notification of non-conformance, contextualized information for identifying root causes, and comprehensive audit trail.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/compliance-traceability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Traceability</h2>
                                <p>Record, track, and trace the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products. Provide real-time transparency, to help you proactively limit the impact of any quality problems before you ship the product.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/compliance-digital-signature.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>21 CFR Compliance-Digital Signature</h2>
                                <p>Automate comprehensive record collection with electronic signatures while maintaining 21 CFR Part 11 and Part 820 compliance.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/compliance-change-management.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Change Management</h2>
                                <p>Managing change is a critical element of a risk mitigation strategy. A failure to manage change is a risk in and of itself that commonly traces back to major crises. TrakSYS ensures controls are in place to introduce system changes as well as maintain data integrity.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/compliance-audit-trail.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Audit Trail</h2>
                                <p>TrakSYS allows configuration of user and group roles to maintain data integrity. As well as a configurable tracking of changes to system configuration, actions, data records, and electronic signatures to create a comprehensive audit trail.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/compliance-development-test-production-environments.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Development-Test-Production Environments</h2>
                                <p>TrakSYS architecture allows for parallel environments to manage FDA validated software installations. Develop without interruption, while system changes are tested and validated for production activation.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About Compliance</h2>
                        <p>Want to learn more about Compliance? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>Many manufacturers are looking to proactive, real-time quality management processes and software applications to facilitate continuous improvement across these areas.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-01.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>To excel in the highly competitive medical device industry, Proteus needed a software solution that could unify their production workflows and unique processes.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
