dist/deployment.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Deployment</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-deployment"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Deployment Options</h1>
                            <p>Your solutions, deployed your way.</p>
                            <a class="btn btn-gray" href="#">Let’s Get Started</a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-deployment.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>On-Premises. Cloud. License. Saas. Choose The Best Fit For Your Needs.</h2>
                        <p>What are your deployment options for TrakSYS? We give you choices: on-premises, (either at an individual factory or at your data center), or a secure cloud-based solution that we host. And you can purchase a license or a subscription. How to choose the best solution for your company? Here are a few factors to consider.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/on-premises-license-maximum-control-higher-tco.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>On-premises (license): maximum control. higher tco.</h2>
                                <p>Deploying TrakSYS on your premises, either in an individual site or in a centralized IT center, gives you the greatest control over all aspects of the system, from installation and operation through long-term maintenance. Of course, when you factor in the costs of hardware and software, you will likely incur higher total cost of ownership relative to a hosted solution.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/cloud-based-saas-convenient-efficient-secure.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Cloud-based (saas): convenient. efficient. secure.</h2>
                                <p>Deploying TrakSYS in a hosted cloud-based system offers advantages in efficiency and cost, compared to traditional on-premises solutions: simplified access, ease of use, and increased system availability, to name a few. With a cloud deployment you get 24/7 access to your dedicated servers, data storage devices, and software within a secure, streamlined environment that your IT department does not need to maintain.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Partner Spotlight</h2>
                        <p>Looking for help deploying TrakSYS? We offer a worldwide network of partners. These highly qualified organizations have a demonstrated track record of delivering high-value solutions and top-notch customer service, and can help you with implementation, customization, and more. Visit our Find a Partner page to learn more.</p>
                        <p>As a Parsec Certified Partner, ASM has implemented many TrakSYS applications helping manufacturers become more productive and sustainable in a global Marketplace. The expert senior engineers at ASM Soft S.L., based in Vigo, Spain, use a holistic approach to help clients optimize their production process, improve productivity, reduce downtime, increase product quality, reduce energy consumption and reduce costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel-msg-->
    <section class="messages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Thousand Of Factories Worldwide Run More Productively With TrakSYS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-msg owl-theme">
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Download The TrakSYS Brochure</h2>
                        <p>Get the TrakSYS brochure. All the information you need, in one convenient package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-secondary">
                        <div class="promo-form">
                            <iframe src="//go.pardot.com/l/366621/2017-06-15/5mv"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/deployment.pug
extends extends/layout

block body
    body.page-deployment

block title
    title Parsec - Deployment

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Deployment Options
                            p Your solutions, deployed your way.
                            a.btn.btn-gray(href="#") Let’s Get Started
                        .hero-media
                            img(src="images/hero-media-deployment.png" alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 On-Premises. Cloud. License. Saas. Choose The Best Fit For Your Needs.
                        p What are your deployment options for TrakSYS? We give you choices: on-premises, (either at an individual factory or at your data center), or a secure cloud-based solution that we host. And you can purchase a license or a subscription. How to choose the best solution for your company? Here are a few factors to consider.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/on-premises-license-maximum-control-higher-tco.png", alt="name")
                            .panel-intro
                                h2 On-premises (license): maximum control. higher tco.
                                p Deploying TrakSYS on your premises, either in an individual site or in a centralized IT center, gives you the greatest control over all aspects of the system, from installation and operation through long-term maintenance. Of course, when you factor in the costs of hardware and software, you will likely incur higher total cost of ownership relative to a hosted solution.
                        .panel-box
                            .panel-media
                                img(src="images/cloud-based-saas-convenient-efficient-secure.png", alt="name")
                            .panel-intro
                                h2 Cloud-based (saas): convenient. efficient. secure.
                                p Deploying TrakSYS in a hosted cloud-based system offers advantages in efficiency and cost, compared to traditional on-premises solutions: simplified access, ease of use, and increased system availability, to name a few. With a cloud deployment you get 24/7 access to your dedicated servers, data storage devices, and software within a secure, streamlined environment that your IT department does not need to maintain.

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Partner Spotlight
                        p Looking for help deploying TrakSYS? We offer a worldwide network of partners. These highly qualified organizations have a demonstrated track record of delivering high-value solutions and top-notch customer service, and can help you with implementation, customization, and more. Visit our Find a Partner page to learn more.
                        p As a Parsec Certified Partner, ASM has implemented many TrakSYS applications helping manufacturers become more productive and sustainable in a global Marketplace. The expert senior engineers at ASM Soft S.L., based in Vigo, Spain, use a holistic approach to help clients optimize their production process, improve productivity, reduce downtime, increase product quality, reduce energy consumption and reduce costs.

    // carousel-msg
    section.messages
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Thousand Of Factories Worldwide Run More Productively With TrakSYS
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-msg.owl-theme
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
