src/views/energy-management.pug
extends extends/layout

block body
    body.page-energy-management

block title
    title Parsec - Energy Management

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 <span>Achieve Your Sustainability Goals With Real-Time</span>Energy Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-energy-management.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Energy and Your Bottomline
                        p Staying competitive in today’s manufacturing landscape demands running operations as efficiently as possible as a means to lowering waste while also meeting Sustainability and Environmental initiatives.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-consumption.png", alt="name")
                        h4 Manage Utility Consumption
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conservation.png", alt="name")
                        h4 Create a Roadmap For Engrgy Conservation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-goal.png", alt="name")
                        h4 Predict Maintenance Issues
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-issue.png", alt="name")
                        h4 Achieve Sustainability Goals

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Energy Management Solution
                        p As a unified MOM platform, TrakSYS not only captures comprehensive production data but also delivers contextualized intelligence beyond stand-alone Energy Management systems to uncover the relationships of energy consumption to unique products and production activities.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/contextualize-utility-usage.png", alt="name")
                            .panel-intro
                                h2 Contextualize Utility Usage
                                p TrakSYS Data Historian connects to meters and sensors to provide real-time visibility into energy consumption. TrakSYS allows you to further contextualize typical raw energy data. Manage budgets while uncovering energy saving opportunities with immediate impact.
                        .panel-box
                            .panel-media
                                img(src="images/manual-entry-distribution.png", alt="name")
                            .panel-intro
                                h2 Manual Entry Distribution
                                p In addition to digitally connected devices, manually entered meter readings can be captured periodically. Consumption can be applied with a flat distribution or allocated based on production times or production counts during the time intervals selected.
                        .panel-box
                            .panel-media
                                img(src="images/notification-and-alerts.png", alt="name")
                            .panel-intro
                                h2 Notification & Alerts
                                p TrakSYS allows user to configure in-system Notifications and email/text Alerts. Rapid communication enables decision makers to make precisely timed decision and actions.
                        .panel-box
                            .panel-media
                                img(src="images/metrics-and-reporting.png", alt="name")
                            .panel-intro
                                h2 Metrics & Reporting
                                p Gain visibility into energy management- compare by Day, by Job, and by Shift.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/energy-management.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Energy Management</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-energy-management"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>
                                <span>Achieve Your Sustainability Goals With Real-Time</span>Energy Management
                            </h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-energy-management.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Manage Energy and Your Bottomline</h2>
                        <p>Staying competitive in today’s manufacturing landscape demands running operations as efficiently as possible as a means to lowering waste while also meeting Sustainability and Environmental initiatives.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-consumption.png" alt="name">
                        </span>
                        <h4>Manage Utility Consumption</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-conservation.png" alt="name">
                        </span>
                        <h4>Create a Roadmap For Engrgy Conservation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-goal.png" alt="name">
                        </span>
                        <h4>Predict Maintenance Issues</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-issue.png" alt="name">
                        </span>
                        <h4>Achieve Sustainability Goals</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>A Complete Energy Management Solution</h2>
                        <p>As a unified MOM platform, TrakSYS not only captures comprehensive production data but also delivers contextualized intelligence beyond stand-alone Energy Management systems to uncover the relationships of energy consumption to unique products and production activities.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/contextualize-utility-usage.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Contextualize Utility Usage</h2>
                                <p>TrakSYS Data Historian connects to meters and sensors to provide real-time visibility into energy consumption. TrakSYS allows you to further contextualize typical raw energy data. Manage budgets while uncovering energy saving opportunities with immediate impact.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/manual-entry-distribution.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Manual Entry Distribution</h2>
                                <p>In addition to digitally connected devices, manually entered meter readings can be captured periodically. Consumption can be applied with a flat distribution or allocated based on production times or production counts during the time intervals selected.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/notification-and-alerts.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Notification & Alerts</h2>
                                <p>TrakSYS allows user to configure in-system Notifications and email/text Alerts. Rapid communication enables decision makers to make precisely timed decision and actions.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/metrics-and-reporting.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Metrics & Reporting</h2>
                                <p>Gain visibility into energy management- compare by Day, by Job, and by Shift.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
