src/views/index.pug
extends extends/layout

block body
    body.page-home

block content

    // header
    include includes/header

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Elevate Your Business to World-Class
                            p With TrakSYS Managing Your Manufacturing Operations
                            a.btn.btn-lg.btn-light-gray.btn-play-light.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-home.png" alt="name")
    
    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Over 6,000 Factories Run TrakSYS To Help Them Gain Greater Visibility, Knowledge, And Control.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    .owl-carousel.owl-carousel-logo.owl-theme
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

    // solutions
    section.solutions
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Your Manufacturing Operations using real time data
                        p The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the time. At Parsec, we have dedicated ourselves to devising creative and innovative answers for some of the most challenging issues manufacturing has to deal with – now and in the future. These answers are derived from our deep practical experience and are based on TrakSYS, our versatile operations management solution platform.
            include includes/solution

    // carousel-industry
    section.industries
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.
            .row
                .col-lg-12
                    include includes/carousel-industry

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manufacturing Operations Management, Made As Simple As Possible
                        p With out-of-the-box functionality and integrated configuration tools, the TrakSYS platform has been designed to make deploying and maintaining your MOM solution as simple as possible.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 One Integrated Application
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Affordable Ownership
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 One Integrated Application
                        p TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.
                        a.btn.btn-gray(href="#") Learn More

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Harness The Power Of Data-Driven Decision Making
            .row
                .col-lg-12
                    .promo-primary
                        .promo-media
                            img(src="images/promo-dl-media-01.png", alt="name")
                        .promo-content
                            p Lack of performance can have a serious effect on your bottom line. Find out how the right software can help you run more effectively and efficiently.
                            .promo-form
                                iframe(src="//go.pardot.com/l/366621/2018-01-03/23nt9")

                                //- <form method="post" action="#" class="form" id="pardot-form">
                                //-     <p class="form-field  email pd-text required required-custom    ">
                                //-         <label class="field-label" for="email">Enter your email address *</label>
                                //-         <input type="text" name="email" class="text" placeholder="Enter your email address *">
                                //-     </p>
                                //-     <div>We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>.</div>
                                //-     <p class="submit"><input type="submit" value="Download Now"></p>
                                //- </form>

    // footer
    include includes/footer

dist/index.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Home</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-home"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-light.png" alt="Parsec">
                        </a>
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Elevate Your Business to World-Class</h1>
                            <p>With TrakSYS Managing Your Manufacturing Operations</p>
                            <a class="btn btn-lg btn-light-gray btn-play-light video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-home.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- clients-->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Over 6,000 Factories Run TrakSYS To Help Them Gain Greater Visibility, Knowledge, And Control.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-list">
                        <img src="images/cl-logo-01.png" alt="name">
                        <img src="images/cl-logo-02.png" alt="name">
                        <img src="images/cl-logo-03.png" alt="name">
                        <img src="images/cl-logo-04.png" alt="name">
                        <img src="images/cl-logo-05.png" alt="name">
                        <img src="images/cl-logo-06.png" alt="name">
                        <img src="images/cl-logo-07.png" alt="name">
                    </div><!-- logo carousel-->
                    <div class="owl-carousel owl-carousel-logo owl-theme">
                        <img src="images/cl-logo-01.png" alt="name">
                        <img src="images/cl-logo-02.png" alt="name">
                        <img src="images/cl-logo-03.png" alt="name">
                        <img src="images/cl-logo-04.png" alt="name">
                        <img src="images/cl-logo-05.png" alt="name">
                        <img src="images/cl-logo-06.png" alt="name">
                        <img src="images/cl-logo-07.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- solutions-->
    <section class="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Optimize Your Manufacturing Operations using real time data</h2>
                        <p>The complex world of manufacturing needs smart and agile solutions to make it work effectively – all the time. At Parsec, we have dedicated ourselves to devising creative and innovative answers for some of the most challenging issues manufacturing has to deal with – now and in the future. These answers are derived from our deep practical experience and are based on TrakSYS, our versatile operations management solution platform.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="solution-content">
                        <div class="solution-intro">
                            <h4>One platform, many solutions</h4>
                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing operations management. We have everything you need to succeed.</p>
                            <ul class="solution-list">
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-01.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Inventory</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-02.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Production</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-03.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Quality</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-04.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Maintanence</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="solution-media">
                            <img src="images/solution-media-01.png" alt="name">
                            <a class="btn btn-gray" href="#">View All Solution</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel-industry-->
    <section class="industries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Diverse Industries. Common Challenges.</h2>
                        <p>TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-industry owl-theme">
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Food &amp; Beverage</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Life Sciences</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Packaged Goods</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Manufacturing Operations Management, Made As Simple As Possible</h2>
                        <p>With out-of-the-box functionality and integrated configuration tools, the TrakSYS platform has been designed to make deploying and maintaining your MOM solution as simple as possible.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-computer.png" alt="name">
                        </div>
                        <h4>One Integrated Application</h4>
                        <p>TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </div>
                        <h4>Affordable Ownership</h4>
                        <p>TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-safe.png" alt="name">
                        </div>
                        <h4>One Integrated Application</h4>
                        <p>TrakSYS is developed as one unified and integrated software application with an impressive array of features and functions to meet your exact needs.</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Harness The Power Of Data-Driven Decision Making</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-primary">
                        <div class="promo-media">
                            <img src="images/promo-dl-media-01.png" alt="name">
                        </div>
                        <div class="promo-content">
                            <p>Lack of performance can have a serious effect on your bottom line. Find out how the right software can help you run more effectively and efficiently.</p>
                            <div class="promo-form">
                                <iframe src="//go.pardot.com/l/366621/2018-01-03/23nt9"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
