dist/industries.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - View All Industries</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-industries"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Diverse Industries Common Challenges</h1>
                            <p>Loriam ipsom dolor sit amet information is in the status for the info.</p>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-industries.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- stats-->
    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Trusted by Top Manufacturers Worldwide</h2>
                        <p>You battle complexity throughout your factory. We understand your challenges. Since 1987 we’ve built software that helps make managing your manufacturing operations as simple — and productive — as possible. And manufacturing management software is all we do. That’s why top manufacturers around the world rely on TrakSYS to deliver greater visibility, knowledge, and control.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="stat-boxes">
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-mass-production.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">6000</span>
                                <span class="text-sm">Deployments</span>
                            </h3>
                        </div>
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-engineer.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">80000</span>
                                <span class="text-sm">Daily Active Users</span>
                            </h3>
                        </div>
                        <div class="stat-box">
                            <span class="icon">
                                <img src="images/icon-network.png" alt="name">
                            </span>
                            <h3>
                                <span class="text-lg">100</span>
                                <span class="text-sm">Countries</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Diverse Industries. Common Challenges.</h2>
                        <p>Manufacturers in every industry face the same challenges: produce high-quality finished goods consistently, safely, and profitably. TrakSYS contains all the features and functions needed to configure it for any application, in any industry. TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- card-industries-->
    <section class="card-industries">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card-page">
                        <img src="images/card-media-01.png" alt="name">
                        <div class="content">
                            <h4>Automotive</h4>
                            <a class="btn btn-gray" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card-page">
                        <img src="images/card-media-02.png" alt="name">
                        <div class="content">
                            <h4>Chemicals</h4>
                            <a class="btn btn-gray" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card-page">
                        <img src="images/card-media-03.png" alt="name">
                        <div class="content">
                            <h4>Life Sciences</h4>
                            <a class="btn btn-gray" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card-page">
                        <img src="images/card-media-04.png" alt="name">
                        <div class="content">
                            <h4>Packaged Goods</h4>
                            <a class="btn btn-gray" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card-page">
                        <img src="images/card-media-05.png" alt="name">
                        <div class="content">
                            <h4>Food & Beverage</h4>
                            <a class="btn btn-gray" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel-->
    <section class="industries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-industry owl-theme">
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Food &amp; Beverage</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Life Sciences</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Packaged Goods</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- feedback-->
    <section class="feedback">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro section-intro-feedback">
                        <h2>Thousands Of Factories Worldwide Run More Productively With TrakSYS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-feedback owl-theme">
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Download The TrakSYS Brochure</h2>
                        <p>Get the TrakSYS brochure. All the information you need, in one convenient package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-secondary">
                        <div class="promo-form">
                            <iframe src="//go.pardot.com/l/366621/2017-06-15/5mv"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/industries.pug
extends extends/layout

block body
    body.page-industries

block title
    title Parsec - View All Industries

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Diverse Industries Common Challenges
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-industries.png" alt="name")

    // stats
    section.stats
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Top Manufacturers Worldwide
                        p You battle complexity throughout your factory. We understand your challenges. Since 1987 we’ve built software that helps make managing your manufacturing operations as simple — and productive — as possible. And manufacturing management software is all we do. That’s why top manufacturers around the world rely on TrakSYS to deliver greater visibility, knowledge, and control.
            .row
                .col-lg-12
                    .stat-boxes
                        .stat-box
                            span.icon
                                img(src="images/icon-mass-production.png", alt="name")
                            h3
                                span.text-lg 6000
                                span.text-sm Deployments
                        .stat-box
                            span.icon
                                img(src="images/icon-engineer.png", alt="name")
                            h3
                                span.text-lg 80000
                                span.text-sm Daily Active Users
                        .stat-box
                            span.icon
                                img(src="images/icon-network.png", alt="name")
                            h3
                                span.text-lg 100
                                span.text-sm Countries
    
    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p Manufacturers in every industry face the same challenges: produce high-quality finished goods consistently, safely, and profitably. TrakSYS contains all the features and functions needed to configure it for any application, in any industry. TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.

    // card-industries
    section.card-industries
        .container
            .row
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-01.png", alt="name")
                        .content
                            h4 Automotive
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-02.png", alt="name")
                        .content
                            h4 Chemicals
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-03.png", alt="name")
                        .content
                            h4 Life Sciences
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-04.png", alt="name")
                        .content
                            h4 Packaged Goods
                            a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6.col-sm-6
                    .card-page
                        img(src="images/card-media-05.png", alt="name")
                        .content
                            h4 Food & Beverage
                            a.btn.btn-gray(href="#") Learn More

    // carousel
    section.industries
        .container
            .row
                .col-lg-12
                    include includes/carousel-industry

    // feedback
    include includes/carousel-feedback

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // footer
    include includes/footer
