dist/inventory.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Inventory</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-inventory"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Real-Time Inventory Management</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-inventory.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Manage Inventory More Effectively Using Real- Time Production And Erp Data</h2>
                        <p>You want to maintain tight control of inventory, to increase production efficiency and reduce working capital requirements. TrakSYS can provide real-time visibility for inventory movement and production progress to improve on-time delivery while reducing inventory and production lead times.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-safe.png" alt="name">
                        </span>
                        <h4>Improve Inventory Accuracy</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </span>
                        <h4>Reduce Write-Downs</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-bar-code.png" alt="name">
                        </span>
                        <h4>Decrease Lead Times</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-technology-01.png" alt="name">
                        </span>
                        <h4>Monitor Supplier Quality</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Track And Manage Materials And Inventory Thoughtout Your Enterprice</h2>
                        <p>Use TrakSYS to maintain inventory accuracy and track real-time location and status, including ERP synchronization. In addition, TrakSYS can provide two-way traceability and genealogy from the product made to materials consumed, or materials consumed to products affected.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/raw-materials.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Raw Materials</h2>
                                <p>Gain visibility into your supply chain, including notifications for replenishment, data analysis for raw material testing and Certificates of Analysis, production and quality performance by material supplier or lot.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/planning-and-scheduling.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Planning And Scheduling</h2>
                                <p>Plan and schedule human and machine resources, to fully utilize the available time of workforce and equipment. Track schedule compliance, changes and reasons.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/work-in-process.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Work In Process</h2>
                                <p>Gain full visibility of material locations, statuses, and interruptions in material flow. Reduce delays caused by inventory queues which are often a result of inadequate communication.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/finished-goods.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Finished Goods</h2>
                                <p>Determine quantities required to fulfill orders. Real-time exception reporting for late and partial quantities. Stock-out predictions based on usage patterns.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/history-and-traceability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Traceability</h2>
                                <p>Track materials throughout production, including Supplier, Lot Code, Process Route, Employee Touches, Dates/Times, Quality Test Results, Process Parameters, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o-->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Metricks & Reporting</h2>
                        <p>Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/report-media.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of Production Management</h2>
                        <p>Want to learn more about Production Management? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </span>
                        <h4>Infographic</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/inventory.pug
extends extends/layout

block body
    body.page-inventory

block title
    title Parsec - Inventory

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Inventory Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-inventory.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Inventory More Effectively Using Real- Time Production And Erp Data
                        p You want to maintain tight control of inventory, to increase production efficiency and reduce working capital requirements. TrakSYS can provide real-time visibility for inventory movement and production progress to improve on-time delivery while reducing inventory and production lead times.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Improve Inventory Accuracy
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Reduce Write-Downs
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-bar-code.png", alt="name")
                        h4 Decrease Lead Times
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Monitor Supplier Quality

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Track And Manage Materials And Inventory Thoughtout Your Enterprice
                        p Use TrakSYS to maintain inventory accuracy and track real-time location and status, including ERP synchronization. In addition, TrakSYS can provide two-way traceability and genealogy from the product made to materials consumed, or materials consumed to products affected.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/raw-materials.png", alt="name")
                            .panel-intro
                                h2 Raw Materials
                                p Gain visibility into your supply chain, including notifications for replenishment, data analysis for raw material testing and Certificates of Analysis, production and quality performance by material supplier or lot.
                        .panel-box
                            .panel-media
                                img(src="images/planning-and-scheduling.png", alt="name")
                            .panel-intro
                                h2 Planning And Scheduling
                                p Plan and schedule human and machine resources, to fully utilize the available time of workforce and equipment. Track schedule compliance, changes and reasons.
                        .panel-box
                            .panel-media
                                img(src="images/work-in-process.png", alt="name")
                            .panel-intro
                                h2 Work In Process
                                p Gain full visibility of material locations, statuses, and interruptions in material flow. Reduce delays caused by inventory queues which are often a result of inadequate communication.
                        .panel-box
                            .panel-media
                                img(src="images/finished-goods.png", alt="name")
                            .panel-intro
                                h2 Finished Goods
                                p Determine quantities required to fulfill orders. Real-time exception reporting for late and partial quantities. Stock-out predictions based on usage patterns.
                        .panel-box
                            .panel-media
                                img(src="images/history-and-traceability.png", alt="name")
                            .panel-intro
                                h2 Traceability
                                p Track materials throughout production, including Supplier, Lot Code, Process Route, Employee Touches, Dates/Times, Quality Test Results, Process Parameters, etc.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
