dist/key-features.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Key Features</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-key-features"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Key
                                <br>Features</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-key-features.png" alt="hero-mock">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>The Worlds’ Most Agile, Flexible, Extensible Manufacturing Operations Management Platform</h2>
                        <p>With a library of configurable features that conform to the Manufacturing Operations Management (MOM) standard architecture, TrakSYS allows you to deploy manufacturing operations management solutions quickly and cost-effectively. Use the built-in features and functions of TrakSYS to build solutions for virtually any challenge — from OEE and SPC, to E-Records, Traceability, Workflow, and more.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-technology-01.png" alt="name">
                        </div>
                        <h4>Definitions</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-engineer.png" alt="name">
                        </div>
                        <h4>Resources</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-dashboard.png" alt="name">
                        </div>
                        <h4>Scheduling</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </div>
                        <h4>Dispatch</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-computer.png" alt="name">
                        </div>
                        <h4>Execution</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </div>
                        <h4>Data Collection</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-packs.png" alt="name">
                        </div>
                        <h4>Tracking</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </div>
                        <h4>Analysis</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <p>TrakSYS is a software application and solution platform designed to help you manage the performance of your entire manufacturing operation in real time, from any web-connected device. That’s asking a lot. We should know. We’ve been doing this for almost thirty years. In that time we’ve gotten very good at making the complex ‘as simple as possible.’ (We can‘t take credit for that clever turn of phrase; Einstein said it first.)</p>
                        <p>TrakSYS is a product of this disciplined approach. It’s a unified, web-based platform that contains all the code necessary to run key manufacturing management applications right out of the box. And it has built-in administration and configuration tools, so you don’t need to write custom code to create custom applications or every time you want to make a change. (You’re welcome.)</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- solutions-->
    <section class="solutions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="solution-content">
                        <div class="solution-intro">
                            <h4>One platform, many solutions</h4>
                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing operations management. We have everything you need to succeed.</p>
                            <ul class="solution-list">
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-01.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Inventory</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-02.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Production</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-03.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Quality</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="icon">
                                            <img src="images/font-icon-04.png" alt="name">
                                        </span>
                                        <div class="content">
                                            <h5>Maintanence</h5>
                                            <p>Use the TrakSYS platform to create solutions for real-time, data-driven manufacturing.</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="solution-media">
                            <img src="images/solution-media-01.png" alt="name">
                            <a class="btn btn-gray" href="#">View All Solution</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Key Features and Functions</h2>
                        <p>TrakSYS is designed to be simple yet powerful, with features that help you get started quickly and grow as needed. Extensive out-of-the-box functionality ensures this. Whether your factory has one line or 100, and uses manual or automated production processes, TrakSYS provides a straightforward path to measurable improvement.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-engineer.png" alt="name">
                        </div>
                        <h4>One Platform, Many Solution</h4>
                        <p>TrakSYS is a unified platform, with multiple, fully-integrated features to power business solutions.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-computer.png" alt="name">
                        </div>
                        <h4>Responsive Web Interface</h4>
                        <p>TrakSYS utilizes the latest web platforms: HTML5, jQuery, Bootstrap, Backbone, SignalR, and more.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </div>
                        <h4>Single Sign On</h4>
                        <p>TrakSYS supports hybrid authentication, for users with or without a Windows/domain account.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel-industry-->
    <section class="industries">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Diverse Industries. Common Challenges.</h2>
                        <p>TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-industry owl-theme">
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Food &amp; Beverage</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Life Sciences</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                        <div class="industry-item">
                            <div class="industry-media">
                                <span></span>
                                <img src="images/industry-media-01.jpg" alt="name">
                            </div>
                            <div class="industry-intro">
                                <h4>Packaged Goods</h4>
                                <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations.</p>
                                <a class="btn btn-blue" href="#">View All Solution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- carousel-feedback-->
    <section class="feedback">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro section-intro-feedback">
                        <h2>Thousands Of Factories Worldwide Run More Productively With TrakSYS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-feedback owl-theme">
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Download The TrakSYS Brochure</h2>
                        <p>Get the TrakSYS brochure. All the information you need, in one convenient package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-secondary">
                        <div class="promo-form">
                            <iframe src="//go.pardot.com/l/366621/2017-06-15/5mv"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/key-features.pug
extends extends/layout

block body
    body.page-key-features

block title
    title Parsec - Key Features

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Key<br>Features
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-key-features.png" alt="hero-mock")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 The Worlds’ Most Agile, Flexible, Extensible Manufacturing Operations Management Platform
                        p With a library of configurable features that conform to the Manufacturing Operations Management (MOM) standard architecture, TrakSYS allows you to deploy manufacturing operations management solutions quickly and cost-effectively. Use the built-in features and functions of TrakSYS to build solutions for virtually any challenge — from OEE and SPC, to E-Records, Traceability, Workflow, and more.
            .row
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Definitions
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Resources
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-dashboard.png", alt="name")
                        h4 Scheduling
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Dispatch
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Execution
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Data Collection
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-packs.png", alt="name")
                        h4 Tracking
                .col-lg-3.col-md-4.col-sm-6
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Analysis

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        p TrakSYS is a software application and solution platform designed to help you manage the performance of your entire manufacturing operation in real time, from any web-connected device. That’s asking a lot. We should know. We’ve been doing this for almost thirty years. In that time we’ve gotten very good at making the complex ‘as simple as possible.’ (We can‘t take credit for that clever turn of phrase; Einstein said it first.)
                        p TrakSYS is a product of this disciplined approach. It’s a unified, web-based platform that contains all the code necessary to run key manufacturing management applications right out of the box. And it has built-in administration and configuration tools, so you don’t need to write custom code to create custom applications or every time you want to make a change. (You’re welcome.)

    // solutions
    section.solutions
        .container
            include includes/solution

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Key Features and Functions
                        p TrakSYS is designed to be simple yet powerful, with features that help you get started quickly and grow as needed. Extensive out-of-the-box functionality ensures this. Whether your factory has one line or 100, and uses manual or automated production processes, TrakSYS provides a straightforward path to measurable improvement.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 One Platform, Many Solution
                        p TrakSYS is a unified platform, with multiple, fully-integrated features to power business solutions.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Responsive Web Interface
                        p TrakSYS utilizes the latest web platforms: HTML5, jQuery, Bootstrap, Backbone, SignalR, and more.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Single Sign On
                        p TrakSYS supports hybrid authentication, for users with or without a Windows/domain account.

    // carousel-industry
    section.industries
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Diverse Industries. Common Challenges.
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, and in a variety of industries, including automotive, chemicals, food & beverage, life sciences, packaged goods, and more.
            .row
                .col-lg-12
                    include includes/carousel-industry
    
    // carousel-feedback
    include includes/carousel-feedback

    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")
    
    // footer
    include includes/footer
