src/views/life-sciences.pug
extends extends/layout

block body
    body.page-life-sciences

block title
    title Parsec - Life Sciences

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 TrakSYS for Life Sciences
                            p Loriam ipsom dolor sit amet information is in the status for the info.
                        .hero-media
                            img(src="images/hero-media-life-sciences.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 The Prescription for a More Productive and Profitable Operation
                        p As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations, such as US FDA 21 CFR Part 11 and European Annex 11, and follow current Good Manufacturing Practices (cGMP). You’re focused on optimizing operations, to increase quality and productivity, and add a few more points to the bottom line. TrakSYS can help.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safe.png", alt="name")
                        h4 Improve Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Reduce Cost
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Ensure Batch Safety
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Comply with Regulations

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 How TrakSYS Helps You Gain Greater Visibility, Knowledge, and Control
                        p TrakSYS helps packaged good manufacturers enable operational excellence initiatives, meet safety compliance requirements, and support sustainability efforts. Here’s how:
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/batch-recipe-management.png", alt="name")
                            .panel-intro
                                h2 Batch Recipe Management
                                p TrakSYS defines necessary materials needed, coordinates with your Enterprise Resource Planning (ERP) system, and traces your materials to their lots and suppliers.
                        .panel-box
                            .panel-media
                                img(src="images/electronic-records.png", alt="name")
                            .panel-intro
                                h2 Electronic Batch Records
                                p Automate your record keeping, including changes, actions, recorded values, and electronic signatures, for the creation of a comprehensive audit trail.
                        .panel-box
                            .panel-media
                                img(src="images/quality-assurance.png", alt="name")
                            .panel-intro
                                h2 Quality Assurance
                                p Improve quality with Statistical Process Control (SPC) and real-time data, to respond to out-of-compliance events
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 SOP Implementation
                                p Eliminate paperwork with digitally-managed Standard Operating Procedures (SOPs), including full archiving for regulatory compliance.
                        .panel-box
                            .panel-media
                                img(src="images/increased-productivity.png", alt="name")
                            .panel-intro
                                h2 Increased Productivity
                                p Increase productivity through measurement such as OEE and TEEP, and automated corrective and preventive action using tasks and journals.

    // clients
    section.clients
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Trusted by Leading Life Sciences Manufacturers Worldwide
                        p TrakSYS has been deployed at thousands of factories in over 100 countries, including many leading life sciences manufacturers.
            .row
                .col-lg-12
                    .logo-list
                        img(src="images/cl-logo-01.png", alt="name")
                        img(src="images/cl-logo-02.png", alt="name")
                        img(src="images/cl-logo-03.png", alt="name")
                        img(src="images/cl-logo-04.png", alt="name")
                        img(src="images/cl-logo-05.png", alt="name")
                        img(src="images/cl-logo-06.png", alt="name")
                        img(src="images/cl-logo-07.png", alt="name")

                    // logo carousel
                    //- .owl-carousel.owl-carousel-logo.owl-theme
                    //-     img(src="images/cl-logo-01.png", alt="name")
                    //-     img(src="images/cl-logo-02.png", alt="name")
                    //-     img(src="images/cl-logo-03.png", alt="name")
                    //-     img(src="images/cl-logo-04.png", alt="name")
                    //-     img(src="images/cl-logo-05.png", alt="name")
                    //-     img(src="images/cl-logo-06.png", alt="name")
                    //-     img(src="images/cl-logo-07.png", alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About TrakSYS for Life Sciences
                        p Want to learn more about TrakSYS for Life Sciences? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/life-sciences.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Life Sciences</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-life-sciences"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>TrakSYS for Life Sciences</h1>
                            <p>Loriam ipsom dolor sit amet information is in the status for the info.</p>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-life-sciences.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>The Prescription for a More Productive and Profitable Operation</h2>
                        <p>As a life sciences manufacturer — including pharmaceuticals, biotechnology, and medical devices — you operate in a high-volume environment where quality is paramount. After all, the value of your brand is tied closely to the quality of just one or several products. In addition, you must conform to strict regulations, such as US FDA 21 CFR Part 11 and European Annex 11, and follow current Good Manufacturing Practices (cGMP). You’re focused on optimizing operations, to increase quality and productivity, and add a few more points to the bottom line. TrakSYS can help.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-safe.png" alt="name">
                        </span>
                        <h4>Improve Quality</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-weight.png" alt="name">
                        </span>
                        <h4>Reduce Cost</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-engineer.png" alt="name">
                        </span>
                        <h4>Ensure Batch Safety</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </span>
                        <h4>Comply with Regulations</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>How TrakSYS Helps You Gain Greater Visibility, Knowledge, and Control</h2>
                        <p>TrakSYS helps packaged good manufacturers enable operational excellence initiatives, meet safety compliance requirements, and support sustainability efforts. Here’s how:</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/batch-recipe-management.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Batch Recipe Management</h2>
                                <p>TrakSYS defines necessary materials needed, coordinates with your Enterprise Resource Planning (ERP) system, and traces your materials to their lots and suppliers.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/electronic-records.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Electronic Batch Records</h2>
                                <p>Automate your record keeping, including changes, actions, recorded values, and electronic signatures, for the creation of a comprehensive audit trail.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/quality-assurance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Quality Assurance</h2>
                                <p>Improve quality with Statistical Process Control (SPC) and real-time data, to respond to out-of-compliance events</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/document-and-revision-control.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>SOP Implementation</h2>
                                <p>Eliminate paperwork with digitally-managed Standard Operating Procedures (SOPs), including full archiving for regulatory compliance.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/increased-productivity.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Increased Productivity</h2>
                                <p>Increase productivity through measurement such as OEE and TEEP, and automated corrective and preventive action using tasks and journals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- clients-->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Trusted by Leading Life Sciences Manufacturers Worldwide</h2>
                        <p>TrakSYS has been deployed at thousands of factories in over 100 countries, including many leading life sciences manufacturers.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-list">
                        <img src="images/cl-logo-01.png" alt="name">
                        <img src="images/cl-logo-02.png" alt="name">
                        <img src="images/cl-logo-03.png" alt="name">
                        <img src="images/cl-logo-04.png" alt="name">
                        <img src="images/cl-logo-05.png" alt="name">
                        <img src="images/cl-logo-06.png" alt="name">
                        <img src="images/cl-logo-07.png" alt="name">
                    </div><!-- logo carousel-->
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About TrakSYS for Life Sciences</h2>
                        <p>Want to learn more about TrakSYS for Life Sciences? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </span>
                        <h4>Infographic</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
