src/views/maintenance.pug
extends extends/layout

block body
    body.page-maintenance

block title
    title Parsec - Maintenance

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Maintenance Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-maintenance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Manage Maintenance More Effectively Using Real-Time Equipment Data
                        p To maximize equipment reliability and longevity, you need to take a more proactive approach to maintenance. TrakSYS™ provides insight into production processes, equipment performance, and analysis of real-time data gathered from machines, to help maximize overall productivity through preventive and predictive maintenance management.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineering.png", alt="name")
                        h4 Maximize Capacity Utilization
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-truck.png", alt="name")
                        h4 Increase On-Time Delivery
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Reduce Maintenance Costs
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-technology-01.png", alt="name")
                        h4 Extend Equipment Life

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 More Flexible and Responsive Maintenance Management
                        p Whether you now use a CMMS system, spreadsheets, or just pen and paper, adding TrakSYS will help improve the effectiveness of your maintenance program. Based on an easy-to-use mobile platform, TrakSYS works alongside your maintenance crew, providing greater visibility, knowledge, and control.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/work-orders.png", alt="name")
                            .panel-intro
                                h2 Work Orders
                                p Communicate work requests and prioritization to the maintenance department. Maintain records of work completed, labor utilized, and material cost.
                        .panel-box
                            .panel-media
                                img(src="images/preventive-maintenance.png", alt="name")
                            .panel-intro
                                h2 Preventive Maintenance
                                p Schedule equipment inspection and care using equipment runtime or cycles, monitored equipment conditions, or traditional time intervals.
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 In-Line Work Instructions, Manuals, Locations
                                p Provide maintenance technicians work instructions, equipment manuals, and spare part locations for quick reference.
                        .panel-box
                            .panel-media
                                img(src="images/work-order-scheduling.png", alt="name")
                            .panel-intro
                                h2 Work Order Scheduling
                                p Optimize the use of existing assets and resources, with comprehensive scheduling. Cross reference production schedules, labor schedules, and work order schedules to take advantage of optimal conditions for maintenance activities.
                        .panel-box
                            .panel-media
                                img(src="images/predictive-maintenance.png", alt="name")
                            .panel-intro
                                h2 Predictive Maintenance
                                p Identify potential equipment failures before they are catastrophic. Track key indicators, including: Vibration; Temperature; Oil Analysis; Amperage; Differential Pressure.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/maintenance.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Maintenance</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-maintenance"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Real-Time Maintenance Management</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-maintenance.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Manage Maintenance More Effectively Using Real-Time Equipment Data</h2>
                        <p>To maximize equipment reliability and longevity, you need to take a more proactive approach to maintenance. TrakSYS™ provides insight into production processes, equipment performance, and analysis of real-time data gathered from machines, to help maximize overall productivity through preventive and predictive maintenance management.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-engineering.png" alt="name">
                        </span>
                        <h4>Maximize Capacity Utilization</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-truck.png" alt="name">
                        </span>
                        <h4>Increase On-Time Delivery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-weight.png" alt="name">
                        </span>
                        <h4>Reduce Maintenance Costs</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-technology-01.png" alt="name">
                        </span>
                        <h4>Extend Equipment Life</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>More Flexible and Responsive Maintenance Management</h2>
                        <p>Whether you now use a CMMS system, spreadsheets, or just pen and paper, adding TrakSYS will help improve the effectiveness of your maintenance program. Based on an easy-to-use mobile platform, TrakSYS works alongside your maintenance crew, providing greater visibility, knowledge, and control.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/work-orders.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Work Orders</h2>
                                <p>Communicate work requests and prioritization to the maintenance department. Maintain records of work completed, labor utilized, and material cost.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/preventive-maintenance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Preventive Maintenance</h2>
                                <p>Schedule equipment inspection and care using equipment runtime or cycles, monitored equipment conditions, or traditional time intervals.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/document-and-revision-control.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>In-Line Work Instructions, Manuals, Locations</h2>
                                <p>Provide maintenance technicians work instructions, equipment manuals, and spare part locations for quick reference.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/work-order-scheduling.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Work Order Scheduling</h2>
                                <p>Optimize the use of existing assets and resources, with comprehensive scheduling. Cross reference production schedules, labor schedules, and work order schedules to take advantage of optimal conditions for maintenance activities.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/predictive-maintenance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Predictive Maintenance</h2>
                                <p>Identify potential equipment failures before they are catastrophic. Track key indicators, including: Vibration; Temperature; Oil Analysis; Amperage; Differential Pressure.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o-->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Metricks & Reporting</h2>
                        <p>Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/report-media.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of Production Management</h2>
                        <p>Want to learn more about Production Management? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
