dist/mentoring.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Mentoring</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-mentoring"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Anticipate. Accumulate. Accelerate.</h1>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-mentoring.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- support-->
    <section class="support">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Achieve Your Goals with Mentoring</h2>
                        <p>In order to help you achieve your goals as quickly as possible, we offer Mentoring Services. Through Mentoring Services, our experienced consultants are available to work with you to accomplish your objectives. Mentoring Services can also be used for evaluation and pilot or proof-of-concept projects. How does the Mentoring process work? We follow a proven method designed to ensure you achieve your goals.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="accordion accordion-info">
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">Fact Finding & Discovery</a>
                                </h4>
                            </div>
                            <div class="collapse show" id="collapseOne" data-parent=".accordion">
                                <div class="card-body">
                                    <p>With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.</p>
                                    <h6 class="sp-mt-20 sp-mb-25">The benefits include:</h6>
                                    <ul class="accordion-list">
                                        <li>Email support: support@parsec-corp.com</li>
                                        <li>Web meeting support (for more interactive engagement)</li>
                                        <li>Web-based support</li>
                                        <li>Phone Support US: 1-877-TrakSYS</li>
                                        <li>Phone Support International: 1-714-996-5302</li>
                                        <li>Implementation guides and many other self-help documents</li>
                                        <li>Technical notes</li>
                                        <li>Hotfixes, Patches, and Service Packs</li>
                                        <li>Product downloads</li>
                                        <li>Free product upgrades (new versions/releases during subscription term)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a href="#" data-toggle="collapse" data-target="#collapseTwo">Design & Configurtion</a>
                                </h4>
                            </div>
                            <div class="collapse" id="collapseTwo" data-parent=".accordion">
                                <div class="card-body">
                                    <p>With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a href="#" data-toggle="collapse" data-target="#collapseThree">Deployment & Trainging</a>
                                </h4>
                            </div>
                            <div class="collapse" id="collapseThree" data-parent=".accordion">
                                <div class="card-body">
                                    <p>With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>
                                    <a href="#" data-toggle="collapse" data-target="#collapseFour">Testing & Verification</a>
                                </h4>
                            </div>
                            <div class="collapse" id="collapseFour" data-parent=".accordion">
                                <div class="card-body">
                                    <p>With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-sec">
                        <h3>Ready to Learn More?</h3>
                        <a class="btn btn-blue" href="#">Explore Training Services</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- messages-->
    <section class="messages">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Is TrakSYS Right For You? Don’t Just Take Our Work For it</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-msg owl-theme">
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                        <div class="msg-item">
                            <img src="images/bush.png" alt="bush">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
                            <h5>Tony Peterson<span>Operation Manager</span>
                            </h5>
                            <a class="btn btn-gray" href="#">View Case Study</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Download The TrakSYS Brochure</h2>
                        <p>Get the TrakSYS brochure. All the information you need, in one convenient package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-secondary">
                        <div class="promo-form">
                            <iframe src="//go.pardot.com/l/366621/2017-06-15/5mv"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/mentoring.pug
extends extends/layout

block body
    body.page-mentoring

block title
    title Parsec - Mentoring

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Anticipate. Accumulate. Accelerate.
                        .hero-media
                            img(src="images/hero-media-mentoring.png" alt="name")

    // support
    section.support
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Achieve Your Goals with Mentoring
                        p In order to help you achieve your goals as quickly as possible, we offer Mentoring Services. Through Mentoring Services, our experienced consultants are available to work with you to accomplish your objectives. Mentoring Services can also be used for evaluation and pilot or proof-of-concept projects. How does the Mentoring process work? We follow a proven method designed to ensure you achieve your goals.
            .row
                .col-lg-12
                    .accordion.accordion-info
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true") Fact Finding & Discovery
                            #collapseOne.collapse.show(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                                    h6.sp-mt-20.sp-mb-25 The benefits include:
                                    ul.accordion-list
                                        li Email support: support@parsec-corp.com
                                        li Web meeting support (for more interactive engagement)
                                        li Web-based support
                                        li Phone Support US: 1-877-TrakSYS
                                        li Phone Support International: 1-714-996-5302
                                        li Implementation guides and many other self-help documents
                                        li Technical notes
                                        li Hotfixes, Patches, and Service Packs
                                        li Product downloads
                                        li Free product upgrades (new versions/releases during subscription term)
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseTwo") Design & Configurtion
                            #collapseTwo.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseThree") Deployment & Trainging
                            #collapseThree.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
                        .card
                            .card-header
                                h4
                                    a(href="#" data-toggle="collapse" data-target="#collapseFour") Testing & Verification
                            #collapseFour.collapse(data-parent=".accordion")
                                .card-body
                                    p With decades of experience in manufacturing, the team at Parsec will tailor a solution to fit all of your needs and work with all your existing assets and infrastructure.
            .row
                .col-lg-12
                    .cta-sec
                        h3 Ready to Learn More?
                        a.btn.btn-blue(href="#") Explore Training Services

    // messages
    section.messages
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Is TrakSYS Right For You? Don’t Just Take Our Work For it
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-msg.owl-theme
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
                        .msg-item
                            img(src="images/bush.png", alt="bush")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.
                            h5 Tony Peterson
                                span Operation Manager
                            a.btn.btn-gray(href="#") View Case Study
    
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
