dist/overview.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Overview</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-overview"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Monitor. Control. Optimize.</h1>
                            <p>With TrakSYS Managing Your Manufacturing Operations</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-overview.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Run Your Manufacturing Operation More Effectively, Using Real- Time Data</h2>
                        <p>You need insights and tools to help you run your business. You don’t need an endless software project. TrakSYS is a next-generation MES platform with out-of-the-box functionality designed to provide the monitoring, measuring, reporting and analytics you need to run your manufacturing operation more effectively.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </div>
                        <h4>Send Less. Get More.</h4>
                        <p>Be up and running quickly, with out-of-the-box functionality for key solutions: OEE, SPC, batch, and more.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </div>
                        <h4>Leverage Your Other Assets</h4>
                        <p>ERP. SCADA. PLC. IoT. TrakSYS integrates with your other assets and infrastructure.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-merchandise.png" alt="name">
                        </div>
                        <h4>Create. Configure. Customize</h4>
                        <p>Tailor TrakSYS for your needs using built-in code-free configuration tools or advanced scripting.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/capture-real-time-production-data.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Capture Real-Time Production Data</h2>
                                <p>TrakSYS benchmarks performance and productivity, by collecting and aggregating data from virtually any source (PLCs, IIoT, ERP, manual, etc.), to deliver real-time, actionable intelligence on your manufacturing operation – while leveraging your existing assets, resources and infrastructure.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/gain-insights-to-help-improve-operations.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Gain Insights To Help Improve Operations</h2>
                                <p>Gain unparalleled insight into your operation, using the many standard dashboards and reports included with the TrakSYS platform. Want to see more? You can easily create custom reports, forms and screens, using the web-based configuration tools built into TrakSYS.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/take-action-with-tasks-journals-and-notifications.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Take Action, with Tasks, Journals, and Notifications</h2>
                                <p>Take what you’ve learned about your operation and put it into action, using the built-in task management features of TrakSYS. Enter operating notes in Journals. Assign Tasks to operators, maintenance, and other team members. Or send out Notifications for urgent issues.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-vid-->
    <section class="promo-vid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>See TrakSYS In Action</h2>
                        <p>Want to learn more about how TrakSYS works? Watch our How-To video series. Each 2-minute video explains a particular aspect of TrakSYS, including deployment, configuration, and more.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    <div class="owl-carousel owl-carousel-promo-vid owl-theme">
                        <div class="promo-vid-item">
                            <img src="images/promo-vid-media-01.png" alt="name">
                            <a class="video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="promo-vid-item">
                            <img src="images/promo-vid-media-01.png" alt="name">
                            <a class="video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                        <div class="promo-vid-item">
                            <img src="images/promo-vid-media-01.png" alt="name">
                            <a class="video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- feedback-->
    <section class="feedback">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro section-intro-feedback">
                        <h2>Thousands Of Factories Worldwide Run More Productively With TrakSYS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-feedback owl-theme">
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“The tech support from Parsec is world class! Robert’s response was complete with screen shots and detailed instructions. Best of all, his one email response fixed all three problems. Nice job!”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Martin Garrix<span>Founder & CEO, UINugget</span>
                                </h5>
                            </div>
                        </div>
                        <div class="feedback-item">
                            <p>“Once TrakSYS was deployed, we were able to quickly and effectively evaluate the root causes of poor performance. The initial focus of the project was on improving productivity for lines responsible for hormonal products. Within the first 12 months after deploying TrakSYS, we had already improved average OEE by 100 percent.”</p>
                            <div class="feedback-meta">
                                <a class="btn btn-gray" href="#">View Case Study</a>
                                <h5>Francisco Javier<span>Production Manager</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- promo-->
    <section class="promo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Download The TrakSYS Brochure</h2>
                        <p>Get the TrakSYS brochure. All the information you need, in one convenient package.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="promo-secondary">
                        <div class="promo-form">
                            <iframe src="//go.pardot.com/l/366621/2017-06-15/5mv"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/overview.pug
extends extends/layout

block body
    body.page-overview

block title
    title Parsec - Overview

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Monitor. Control. Optimize.
                            p With TrakSYS Managing Your Manufacturing Operations
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-overview.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Run Your Manufacturing Operation More Effectively, Using Real- Time Data
                        p You need insights and tools to help you run your business. You don’t need an endless software project. TrakSYS is a next-generation MES platform with out-of-the-box functionality designed to provide the monitoring, measuring, reporting and analytics you need to run your manufacturing operation more effectively.
            .row
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Send Less. Get More.
                        p Be up and running quickly, with out-of-the-box functionality for key solutions: OEE, SPC, batch, and more.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Leverage Your Other Assets
                        p ERP. SCADA. PLC. IoT. TrakSYS integrates with your other assets and infrastructure.
                .col-lg-4
                    .feat-box
                        .icon
                            img(src="images/icon-merchandise.png", alt="name")
                        h4 Create. Configure. Customize
                        p Tailor TrakSYS for your needs using built-in code-free configuration tools or advanced scripting.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/capture-real-time-production-data.png", alt="name")
                            .panel-intro
                                h2 Capture Real-Time Production Data
                                p TrakSYS benchmarks performance and productivity, by collecting and aggregating data from virtually any source (PLCs, IIoT, ERP, manual, etc.), to deliver real-time, actionable intelligence on your manufacturing operation – while leveraging your existing assets, resources and infrastructure.
                        .panel-box
                            .panel-media
                                img(src="images/gain-insights-to-help-improve-operations.png", alt="name")
                            .panel-intro
                                h2 Gain Insights To Help Improve Operations
                                p Gain unparalleled insight into your operation, using the many standard dashboards and reports included with the TrakSYS platform. Want to see more? You can easily create custom reports, forms and screens, using the web-based configuration tools built into TrakSYS.
                        .panel-box
                            .panel-media
                                img(src="images/take-action-with-tasks-journals-and-notifications.png", alt="name")
                            .panel-intro
                                h2 Take Action, with Tasks, Journals, and Notifications
                                p Take what you’ve learned about your operation and put it into action, using the built-in task management features of TrakSYS. Enter operating notes in Journals. Assign Tasks to operators, maintenance, and other team members. Or send out Notifications for urgent issues.

    // promo-vid
    section.promo-vid
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 See TrakSYS In Action
                        p Want to learn more about how TrakSYS works? Watch our How-To video series. Each 2-minute video explains a particular aspect of TrakSYS, including deployment, configuration, and more.
            .row
                .col-lg-9.mx-auto
                    .owl-carousel.owl-carousel-promo-vid.owl-theme
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                        .promo-vid-item
                            img(src="images/promo-vid-media-01.png", alt="name")
                            a.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play

    // feedback
    include includes/carousel-feedback
    
    // promo
    section.promo
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Download The TrakSYS Brochure
                        p Get the TrakSYS brochure. All the information you need, in one convenient package.
            .row
                .col-lg-12
                    .promo-secondary
                        .promo-form
                            iframe(src="//go.pardot.com/l/366621/2017-06-15/5mv")

                            //- <form method="post" action="#" class="form" id="pardot-form">
                            //-     <p class="form-field  email pd-text required required-custom    ">
                            //-         <label class="field-label" for="email">Enter your email address *</label>
                            //-         <input type="text" name="email" id="email" class="text"placeholder="Enter your email address *">     
                            //-     </p>
                            //-     <div class="privacy">We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a></div>
                            //-     <p class="submit">
                            //-         <input type="submit" value="Download Brochure">
                            //-     </p>
                            //- </form>
    
    // footer
    include includes/footer
