src/views/partners.pug
extends extends/layout

block body
    body.page-partners

block title
    title Parsec - Partners

block content

    // header
    include includes/header-3

    // g-map
    section.g-map
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Locate a Partner
                        p Seeking a partner to help you implement a TrakSYS-based solution? Use our Find a Partner map, below.
        .map#map

    // partners
    section.partners
        .container
            .row
                .col-lg-12
                    table.table.table-pfl.table-borderless
                        thead
                            tr
                                th Title
                                th Address
                                th Description
                        tbody
                            tr
                                td ACS AG<span class="bronze">Bronze Partner</span>
                                td Flawilerstrasse 27, 9500 Wil, Switzerland
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Roland Bieri
                                                    li <span>Title:</span>CEO
                                                    li <span>Phone:</span>+41 (71) 929-4410
                                                    li <span>Email:</span>bieri@acs-ag.ch
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe
                            tr
                                td ACS AG<span class="bronze">Bronze Partner</span>
                                td Hansastraße 1-3, 47058 Duisburg, Germany
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Roland Bieri
                                                    li <span>Title:</span>CEO
                                                    li <span>Phone:</span>+41 (71) 929-4410
                                                    li <span>Email:</span>bieri@acs-ag.ch
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe
                            tr
                                td Actemium Netherlands<span class="gold">Gold Partner</span>
                                td Costerweg 5, 5466 AM Veghel, Netherlands
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Peter De Wit
                                                    li <span>Title:</span>Business Development Director
                                                    li <span>Phone:</span>+31 (0)6 51 92 68 72
                                                    li <span>Email:</span>peter.dwit@actemium.com
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Worldwide
                            tr
                                td ASM Soft S.L.<span class="silver">Silver Partner</span>
                                td CRTA de Bembrive, 109 (Edificio ASM), Vigo 36204, Spain
                                td 
                                    .pfl-info
                                        a.btn-circle-gray(href="#") +
                                        .pfl-box
                                            a.btn-circle-blue.btn-circle-sm(href="#") x
                                            .pfl-info-lists
                                                ul.pfl-info-list
                                                    li <span>Name:</span>Cesareo Barciela Carballido
                                                    li <span>Title:</span>Managing Director
                                                    li <span>Phone:</span>+34 986 22 68 00
                                                    li <span>Email:</span>cbarciela@asm.es
                                                ul.pfl-info-list
                                                    li <span>Regions Served:</span>Europe

    // footer
    include includes/footer

//- google map script
prepend scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ")

dist/partners.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Partners</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-partners"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- g-map-->
    <section class="g-map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Locate a Partner</h2>
                        <p>Seeking a partner to help you implement a TrakSYS-based solution? Use our Find a Partner map, below.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map" id="map"></div>
    </section><!-- partners-->
    <section class="partners">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-pfl table-borderless">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Address</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ACS AG<span class="bronze">Bronze Partner</span>
                                </td>
                                <td>Flawilerstrasse 27, 9500 Wil, Switzerland</td>
                                <td>
                                    <div class="pfl-info">
                                        <a class="btn-circle-gray" href="#">+</a>
                                        <div class="pfl-box">
                                            <a class="btn-circle-blue btn-circle-sm" href="#">x</a>
                                            <div class="pfl-info-lists">
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Name:</span>Roland Bieri
                                                    </li>
                                                    <li>
                                                        <span>Title:</span>CEO
                                                    </li>
                                                    <li>
                                                        <span>Phone:</span>+41 (71) 929-4410
                                                    </li>
                                                    <li>
                                                        <span>Email:</span>bieri@acs-ag.ch
                                                    </li>
                                                </ul>
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Regions Served:</span>Europe
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ACS AG<span class="bronze">Bronze Partner</span>
                                </td>
                                <td>Hansastraße 1-3, 47058 Duisburg, Germany</td>
                                <td>
                                    <div class="pfl-info">
                                        <a class="btn-circle-gray" href="#">+</a>
                                        <div class="pfl-box">
                                            <a class="btn-circle-blue btn-circle-sm" href="#">x</a>
                                            <div class="pfl-info-lists">
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Name:</span>Roland Bieri
                                                    </li>
                                                    <li>
                                                        <span>Title:</span>CEO
                                                    </li>
                                                    <li>
                                                        <span>Phone:</span>+41 (71) 929-4410
                                                    </li>
                                                    <li>
                                                        <span>Email:</span>bieri@acs-ag.ch
                                                    </li>
                                                </ul>
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Regions Served:</span>Europe
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Actemium Netherlands<span class="gold">Gold Partner</span>
                                </td>
                                <td>Costerweg 5, 5466 AM Veghel, Netherlands</td>
                                <td>
                                    <div class="pfl-info">
                                        <a class="btn-circle-gray" href="#">+</a>
                                        <div class="pfl-box">
                                            <a class="btn-circle-blue btn-circle-sm" href="#">x</a>
                                            <div class="pfl-info-lists">
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Name:</span>Peter De Wit
                                                    </li>
                                                    <li>
                                                        <span>Title:</span>Business Development Director
                                                    </li>
                                                    <li>
                                                        <span>Phone:</span>+31 (0)6 51 92 68 72
                                                    </li>
                                                    <li>
                                                        <span>Email:</span>peter.dwit@actemium.com
                                                    </li>
                                                </ul>
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Regions Served:</span>Worldwide
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ASM Soft S.L.<span class="silver">Silver Partner</span>
                                </td>
                                <td>CRTA de Bembrive, 109 (Edificio ASM), Vigo 36204, Spain</td>
                                <td>
                                    <div class="pfl-info">
                                        <a class="btn-circle-gray" href="#">+</a>
                                        <div class="pfl-box">
                                            <a class="btn-circle-blue btn-circle-sm" href="#">x</a>
                                            <div class="pfl-info-lists">
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Name:</span>Cesareo Barciela Carballido
                                                    </li>
                                                    <li>
                                                        <span>Title:</span>Managing Director
                                                    </li>
                                                    <li>
                                                        <span>Phone:</span>+34 986 22 68 00
                                                    </li>
                                                    <li>
                                                        <span>Email:</span>cbarciela@asm.es
                                                    </li>
                                                </ul>
                                                <ul class="pfl-info-list">
                                                    <li>
                                                        <span>Regions Served:</span>Europe
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ"></script>
    <script src="scripts/main.min.js"></script>
</body>

</html>
