src/views/performance.pug
extends extends/layout

block body
    body.page-performance

block title
    title Parsec - Performance

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Real-Time Performance Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-performance.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Optimize Operations Using Real-time Production Data
                        p Whether it is a long-term Continuous Improvement initiative or a simple bottleneck on your production line, you need to understand what is limiting your factory’s performance. Built on the TrakSYS next-generation manufacturing operations management (MOM) platform, the TrakSYS Real-Time Performance Management solution framework benchmarks performance and productivity, by collecting and aggregating data, to deliver real-time, actionable intelligence for significant productivity improvement – while leveraging your existing assets, resources and infrastructure.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-productivity.png", alt="name")
                        h4 Improve Productivity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-group.png", alt="name")
                        h4 Maximize Capacity
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-delivery.png", alt="name")
                        h4 Increase On-time Delivery
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-profitability.png", alt="name")
                        h4 Improve Profitability

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Performance Management Solution
                        p The TrakSYS Real-Time Performance Management solution framework offers out-of-the-box functionality designed to provide the insights you need to evaluate the root causes of poor performance in your manufacturing operation. Whether your operations are discrete, continuous or batch, TrakSYS RPM gives you the tools you need — like event tracking, operator task management, alerts, journaling, and more — to optimize performance and profitability across the supply chain.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/planning-and-scheduling-performance.png", alt="name")
                            .panel-intro
                                h2 Planning & Scheduling Performance
                                p Planning and scheduling are essential to meeting customer’s on-time delivery requirements. TrakSYS enables analysis of on-time, in-full, and schedule attainment performance metrics for more accurate planning and scheduling, as well as a roadmap for continuous improvement.
                        .panel-box
                            .panel-media
                                img(src="images/equipment-performance.png", alt="name")
                            .panel-intro
                                h2 Equipment Performance
                                p Connected to existing automation infrastructure, TrakSYS captures production counts, scrap counts, and current states of equipment to provide a clear view of what is happening on the plant floor and notifies of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for process improvement.
                        .panel-box
                            .panel-media
                                img(src="images/changeover-performance.png", alt="name")
                            .panel-intro
                                h2 Changeover Performance
                                p Efficient product changeovers are essential to minimizing excess inventory. TrakSYS communicates targets, procedures, and status for different changeover types. TrakSYS provides analysis of process performance for more accurate planning and scheduling as well as a roadmap for continuous improvement.
                        .panel-box
                            .panel-media
                                img(src="images/maintenance-performance.png", alt="name")
                            .panel-intro
                                h2 Maintenance Performance
                                p Equipment uptime and performance is essential to plant productivity. TrakSYS provides solutions for efficiently managing work requests, track response times, wrench times, backlogs, on-time completion, and predict equipment failures. TrakSYS provides analysis of maintenance performance as a roadmap for continuous improvement as the factory evolves from reactive to proactive maintenance.
                        .panel-box
                            .panel-media
                                img(src="images/quality-performance.png", alt="name")
                            .panel-intro
                                h2 Quality Performance
                                p Quality performance is essential to protecting brand recognition. TrakSYS provides solutions for efficiently tracking defects, errors, yield, and rework. TrakSYS provides analysis of quality performance as a roadmap for lowering costs of poor quality.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Enterprise Metricks & Reporting
                        p Gain visibility into operation metrics and KPIs. In a multi-site deployment, TrakSYS provides analysis to compare the performance of lines and departments across plants to determine best practices across the enterprise. Quickly identify bottlenecks in the supply chain and prioritize improvement plans.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Real-time Performance Management
                        p Want to learn more about Real-Time Performance Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/performance.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Performance</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-performance"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Real-Time Performance Management</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-performance.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Optimize Operations Using Real-time Production Data</h2>
                        <p>Whether it is a long-term Continuous Improvement initiative or a simple bottleneck on your production line, you need to understand what is limiting your factory’s performance. Built on the TrakSYS next-generation manufacturing operations management (MOM) platform, the TrakSYS Real-Time Performance Management solution framework benchmarks performance and productivity, by collecting and aggregating data, to deliver real-time, actionable intelligence for significant productivity improvement – while leveraging your existing assets, resources and infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-productivity.png" alt="name">
                        </span>
                        <h4>Improve Productivity</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-group.png" alt="name">
                        </span>
                        <h4>Maximize Capacity</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-delivery.png" alt="name">
                        </span>
                        <h4>Increase On-time Delivery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-profitability.png" alt="name">
                        </span>
                        <h4>Improve Profitability</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>A Complete Performance Management Solution</h2>
                        <p>The TrakSYS Real-Time Performance Management solution framework offers out-of-the-box functionality designed to provide the insights you need to evaluate the root causes of poor performance in your manufacturing operation. Whether your operations are discrete, continuous or batch, TrakSYS RPM gives you the tools you need — like event tracking, operator task management, alerts, journaling, and more — to optimize performance and profitability across the supply chain.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/planning-and-scheduling-performance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Planning & Scheduling Performance</h2>
                                <p>Planning and scheduling are essential to meeting customer’s on-time delivery requirements. TrakSYS enables analysis of on-time, in-full, and schedule attainment performance metrics for more accurate planning and scheduling, as well as a roadmap for continuous improvement.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/equipment-performance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Equipment Performance</h2>
                                <p>Connected to existing automation infrastructure, TrakSYS captures production counts, scrap counts, and current states of equipment to provide a clear view of what is happening on the plant floor and notifies of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for process improvement.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/changeover-performance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Changeover Performance</h2>
                                <p>Efficient product changeovers are essential to minimizing excess inventory. TrakSYS communicates targets, procedures, and status for different changeover types. TrakSYS provides analysis of process performance for more accurate planning and scheduling as well as a roadmap for continuous improvement.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/maintenance-performance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Maintenance Performance</h2>
                                <p>Equipment uptime and performance is essential to plant productivity. TrakSYS provides solutions for efficiently managing work requests, track response times, wrench times, backlogs, on-time completion, and predict equipment failures. TrakSYS provides analysis of maintenance performance as a roadmap for continuous improvement as the factory evolves from reactive to proactive maintenance.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/quality-performance.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Quality Performance</h2>
                                <p>Quality performance is essential to protecting brand recognition. TrakSYS provides solutions for efficiently tracking defects, errors, yield, and rework. TrakSYS provides analysis of quality performance as a roadmap for lowering costs of poor quality.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o-->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Enterprise Metricks & Reporting</h2>
                        <p>Gain visibility into operation metrics and KPIs. In a multi-site deployment, TrakSYS provides analysis to compare the performance of lines and departments across plants to determine best practices across the enterprise. Quickly identify bottlenecks in the supply chain and prioritize improvement plans.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/report-media.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of Real-time Performance Management</h2>
                        <p>Want to learn more about Real-Time Performance Management? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
