src/views/privacy.pug
extends extends/layout

block body
    body.page-privacy

block title
    title Parsec - Privacy Policy

block content

    // header
    include includes/header-3

    // docs
    section.docs
        .container
            .row
                .col-lg-12
                    .page-title
                        h1 Privacy Policy<span>Last modified May 25, 2018</span>
                    .doc-intro
                        p We at Parsec (Parsec Automation Corp and our affiliates) are committed to protecting your privacy. This Privacy Policy applies to our Websites (www.parsec-corp.com, blog.parsec-corp.com, portal.parsec-corp.com). This Privacy Policy governs our data collection, processing and usage practices. It also describes your choices regarding use, access and correction of your personal information. If you do not agree with the data practices described in this Privacy Policy, you should not use the Websites.
                        p We periodically update this Privacy Policy. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice by sending you an email notification. While we will notify you of any material changes to this Privacy Policy, we encourage you to review this Privacy Policy periodically.
                        p If you have any questions about this Privacy Policy or our treatment of the information you provide us, please write to us by email at privacy@parsec-corp.com or by post to Parsec Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attn: Privacy.
            .row
                .col-lg-12
                    .panel-doc
                        h2 1. Information We Collect
                        .doc-box-wrap
                            .doc-box
                                h4 When You Visit Our Websites
                                p You are free to explore the Websites without providing any Personal Information about yourself. When you visit the Websites, we may request that you provide Personal Information about yourself, and we collect Navigational Information.
                            .doc-box
                                h4 “Personal Information”
                                p This refers to any information that you voluntarily submit to us and that identifies you personally, including contact information, such as your name, e-mail address, company name, address, phone number, and other information about yourself or your business. Personal Information can also include information about any transactions, both free and paid, that you enter into on the Websites, and information about you that is available on the internet, such as from Facebook, LinkedIn, Twitter and Google, or publicly available information that we acquire from service providers.
                                p Personal Information also includes Navigational Information where such information can directly or indirectly identify an individual. Navigational information refers to information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and pages viewed.
                            .doc-box
                                h4 Log Files
                                p When you view content provided by us, we automatically collect certain information. This information can include your IP address, browser type, domain names, the files viewed on our site (e.g., HTML pages, graphics, etc.), clickstream data, access times and referring website addresses. This information is used by Parsec to provide general statistics regarding use of the Parsec Website. For these purposes, we do link this automatically-collected data to Personal Information such as name, email address, address, and phone number.
                            .doc-box
                                h4 Information We Collect From Third Parties
                                p From time to time, we may receive Personal Information about you from third party sources including partners with which we offer co-branded services or engage in joint marketing activities, and publicly available sources such as social media websites.
                            .doc-box
                                h4 When You Visit Our Websites
                                p You are free to explore the Websites without providing any Personal Information about yourself. When you visit the Websites, we may request that you provide Personal Information about yourself, and we collect Navigational Information.
                            .doc-box
                                h4 “Personal Information”
                                p This refers to any information that you voluntarily submit to us and that identifies you personally, including contact information, such as your name, e-mail address, company name, address, phone number, and other information about yourself or your business. Personal Information can also include information about any transactions, both free and paid, that you enter into on the Websites, and information about you that is available on the internet, such as from Facebook, LinkedIn, Twitter and Google, or publicly available information that we acquire from service providers.
                                p Personal Information also includes Navigational Information where such information can directly or indirectly identify an individual. Navigational information refers to information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and pages viewed.
                            .doc-box
                                h4 Log Files
                                p When you view content provided by us, we automatically collect certain information. This information can include your IP address, browser type, domain names, the files viewed on our site (e.g., HTML pages, graphics, etc.), clickstream data, access times and referring website addresses. This information is used by Parsec to provide general statistics regarding use of the Parsec Website. For these purposes, we do link this automatically-collected data to Personal Information such as name, email address, address, and phone number.
                            .doc-box
                                h4 Information We Collect From Third Parties
                                p From time to time, we may receive Personal Information about you from third party sources including partners with which we offer co-branded services or engage in joint marketing activities, and publicly available sources such as social media websites.
            .row
                .col-lg-12
                    .panel-doc
                        h2 2. How We Use Information We Collect
                        .doc-box-wrap
                            .doc-box
                                h4 Compliance with Our Privacy Policy
                                p We use the information we collect only in compliance with this Privacy Policy.
                            .doc-box
                                h4 We Never Sell Personal Information
                                p We will never sell your Personal Information to any third party.
                            .doc-box
                                h4 Use of Personal Information
                                p In addition to the uses identified elsewhere in this Privacy Policy, we may use your Personal Information to:
                                ul
                                    li Improve your browsing experience by personalizing the Websites;
                                    li Send information or Parsec content to you which we think may be of interest to you by post, email, or other means and send you marketing communications relating to our business;
                                    li Promote use of our products and services to you and share promotional and information content with you in accordance with your communication preferences;
                                    li Send information to you regarding changes to our Software Maintenance Agreement, Pricing, Privacy Policy, or other legal agreements;
                                    li Meet legal requirements.
                            .doc-box
                                h4 Legal Basis for Processing Personal Information (EEA Visitors Only)
                                p Our legal basis for collecting and using the personal information described above will depend on the personal information concerned and the specific context in which we collect it. However, we will normally collect personal information from you only where we have your consent to do so, where we need the personal information to perform a contract with you, or where the processing is in our legitimate interests and not overridden by your data protection interests or fundamental rights and freedoms. In some cases, we may also have a legal obligation to collect personal information from you.
                                p If we ask you to provide personal information to comply with a legal requirement or to perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of your personal information is mandatory or not (as well as of the possible consequences if you do not provide your personal information). Similarly, if we collect and use your personal information in reliance on our legitimate interests (or those of any third party), we will make clear to you at the relevant time what those legitimate interests are.
                            .doc-box
                                h4 Use of Navigational Information
                                p We use Navigational Information to operate and improve the Websites. We may also use Navigational Information alone or in combination with Personal Information.
                            .doc-box
                                h4 Security of Your Personal Information
                                p We use a variety of security technologies and procedures to help protect your Personal Information from unauthorized access, use or disclosure. All Personal Information is protected using appropriate physical, technical and organizational measures.
                            .doc-box
                                h4 Customer Testimonials and Comments
                                p We may post customer testimonials and comments on our Websites. If just testimonials contain Personal Information, we obtain each customer’s consent via email prior to posting the customer’s name and testimonial.
                            .doc-box
                                h4 External Websites
                                p Our Websites provide links to other websites. We do not control, and are not responsible for, the content or practices of these other websites. Our provision of such links does not constitute our endorsement of these other websites, their content, their owners, or their practices. This Privacy Policy does not apply to these other websites, which are subject to any privacy and other policies they may have.
                            .doc-box
                                h4 Retention of Personal Information
                                p If you have elected to receive marketing communications from us, we retain information about your marketing preferences for a reasonable period of time from the date you last expressed interest in our content, products, or services, such as when you last opened an email from us. We retain information derived from cookies and other tracking technologies for a reasonable period of time from the date such information was created.
            .row
                .col-lg-12
                    .panel-doc
                        h2 3. How We Share Information We Collect
                        .doc-box-wrap
                            .doc-box
                                h4 Parsec Partners
                                p In addition, we may share data with trusted partners to contact you based on your request to receive such communications, help us perform statistical analysis, or provide customer support. We partner with trusted third parties to provide you with co-marketing content that we think may be relevant to you.
                            .doc-box
                                h4 Compelled Disclosure
                                p We reserve the right to use or disclose your Personal Information if required by law or if we reasonably believe that use or disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or comply with a law, court order, or legal process.
                            .doc-box
                                h4 International Transfers to Third Parties
                                p Some of the third parties described in this privacy policy, which provide services to us under contract, are based in other countries that may not have equivalent privacy and data protection laws to the country in which you reside.
            .row
                .col-lg-12
                    .panel-doc
                        h2 4. Cookies and Similar Technologies
                        .doc-box-wrap
                            .doc-box
                                h4 Cookies
                                p Parsec uses cookies or similar technologies (such as web beacons) to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole.
                            .doc-box
                                h4 Advertising
                                p We partner with a third party ad network to either display advertising on our Web site or to manage our advertising on other sites. Our ad network partner uses cookies and Web beacons to collect information about your activities on this and other Web sites to provide you targeted advertising based upon your interests.
                            .doc-box
                                h4 Third Party Tracking Technologies
                                p The use of cookies and web beacons by any tracking utility company is not covered by our Privacy Policy.
            .row
                .col-lg-12
                    .panel-doc
                        h2 5. How to Access & Control Your Personal Data
                        .doc-box-wrap
                            .doc-box
                                h4 Reviewing, Correcting and Removing Your Personal Information
                                p You have the following data protection rights:
                                p You can request access, correction, updates or deletion of your personal information.
                                p You can object to processing of your personal information, ask us to restrict processing of your personal information or request portability of your personal information.
                                p If we have collected and process your personal information with your consent, then you can withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your personal information conducted in reliance on lawful processing grounds other than consent.
                                p You have the right to complain to a data protection authority about our collection and use of your personal information. Contact details for data protection authorities in the EEA, Switzerland and certain non-European countries (including the US and Canada) are available here.)
                                p To exercise any of these rights, please contact us at privacy@parsec-corp.com or by post to Parsec Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attention: Privacy. We will respond to your request to change, correct, or delete your information within a reasonable timeframe and notify you of the action we have taken.
                            .doc-box
                                h4 Anti-Spam Policy
                                p You may unsubscribe from our marketing communications by clicking on the “unsubscribe” link located on the bottom of our e-mails, updating your communication preferences, or by sending an email to us at privacy@parsec-corp.com or by post to Parsec
                                p Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attention: Privacy. Customers cannot opt out of receiving transactional emails related to their account with us or the Software Product.


    // footer
    include includes/footer

dist/privacy.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Privacy Policy</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-privacy"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- docs-->
    <section class="docs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <h1>Privacy Policy<span>Last modified May 25, 2018</span>
                        </h1>
                    </div>
                    <div class="doc-intro">
                        <p>We at Parsec (Parsec Automation Corp and our affiliates) are committed to protecting your privacy. This Privacy Policy applies to our Websites (www.parsec-corp.com, blog.parsec-corp.com, portal.parsec-corp.com). This Privacy Policy governs our data collection, processing and usage practices. It also describes your choices regarding use, access and correction of your personal information. If you do not agree with the data practices described in this Privacy Policy, you should not use the Websites.</p>
                        <p>We periodically update this Privacy Policy. We will post any privacy policy changes on this page and, if the changes are significant, we will provide a more prominent notice by sending you an email notification. While we will notify you of any material changes to this Privacy Policy, we encourage you to review this Privacy Policy periodically.</p>
                        <p>If you have any questions about this Privacy Policy or our treatment of the information you provide us, please write to us by email at privacy@parsec-corp.com or by post to Parsec Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attn: Privacy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-doc">
                        <h2>1. Information We Collect</h2>
                        <div class="doc-box-wrap">
                            <div class="doc-box">
                                <h4>When You Visit Our Websites</h4>
                                <p>You are free to explore the Websites without providing any Personal Information about yourself. When you visit the Websites, we may request that you provide Personal Information about yourself, and we collect Navigational Information.</p>
                            </div>
                            <div class="doc-box">
                                <h4>“Personal Information”</h4>
                                <p>This refers to any information that you voluntarily submit to us and that identifies you personally, including contact information, such as your name, e-mail address, company name, address, phone number, and other information about yourself or your business. Personal Information can also include information about any transactions, both free and paid, that you enter into on the Websites, and information about you that is available on the internet, such as from Facebook, LinkedIn, Twitter and Google, or publicly available information that we acquire from service providers.</p>
                                <p>Personal Information also includes Navigational Information where such information can directly or indirectly identify an individual. Navigational information refers to information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and pages viewed.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Log Files</h4>
                                <p>When you view content provided by us, we automatically collect certain information. This information can include your IP address, browser type, domain names, the files viewed on our site (e.g., HTML pages, graphics, etc.), clickstream data, access times and referring website addresses. This information is used by Parsec to provide general statistics regarding use of the Parsec Website. For these purposes, we do link this automatically-collected data to Personal Information such as name, email address, address, and phone number.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Information We Collect From Third Parties</h4>
                                <p>From time to time, we may receive Personal Information about you from third party sources including partners with which we offer co-branded services or engage in joint marketing activities, and publicly available sources such as social media websites.</p>
                            </div>
                            <div class="doc-box">
                                <h4>When You Visit Our Websites</h4>
                                <p>You are free to explore the Websites without providing any Personal Information about yourself. When you visit the Websites, we may request that you provide Personal Information about yourself, and we collect Navigational Information.</p>
                            </div>
                            <div class="doc-box">
                                <h4>“Personal Information”</h4>
                                <p>This refers to any information that you voluntarily submit to us and that identifies you personally, including contact information, such as your name, e-mail address, company name, address, phone number, and other information about yourself or your business. Personal Information can also include information about any transactions, both free and paid, that you enter into on the Websites, and information about you that is available on the internet, such as from Facebook, LinkedIn, Twitter and Google, or publicly available information that we acquire from service providers.</p>
                                <p>Personal Information also includes Navigational Information where such information can directly or indirectly identify an individual. Navigational information refers to information about your computer and your visits to this website such as your IP address, geographical location, browser type, referral source, length of visit and pages viewed.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Log Files</h4>
                                <p>When you view content provided by us, we automatically collect certain information. This information can include your IP address, browser type, domain names, the files viewed on our site (e.g., HTML pages, graphics, etc.), clickstream data, access times and referring website addresses. This information is used by Parsec to provide general statistics regarding use of the Parsec Website. For these purposes, we do link this automatically-collected data to Personal Information such as name, email address, address, and phone number.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Information We Collect From Third Parties</h4>
                                <p>From time to time, we may receive Personal Information about you from third party sources including partners with which we offer co-branded services or engage in joint marketing activities, and publicly available sources such as social media websites.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-doc">
                        <h2>2. How We Use Information We Collect</h2>
                        <div class="doc-box-wrap">
                            <div class="doc-box">
                                <h4>Compliance with Our Privacy Policy</h4>
                                <p>We use the information we collect only in compliance with this Privacy Policy.</p>
                            </div>
                            <div class="doc-box">
                                <h4>We Never Sell Personal Information</h4>
                                <p>We will never sell your Personal Information to any third party.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Use of Personal Information</h4>
                                <p>In addition to the uses identified elsewhere in this Privacy Policy, we may use your Personal Information to:</p>
                                <ul>
                                    <li>Improve your browsing experience by personalizing the Websites;</li>
                                    <li>Send information or Parsec content to you which we think may be of interest to you by post, email, or other means and send you marketing communications relating to our business;</li>
                                    <li>Promote use of our products and services to you and share promotional and information content with you in accordance with your communication preferences;</li>
                                    <li>Send information to you regarding changes to our Software Maintenance Agreement, Pricing, Privacy Policy, or other legal agreements;</li>
                                    <li>Meet legal requirements.</li>
                                </ul>
                            </div>
                            <div class="doc-box">
                                <h4>Legal Basis for Processing Personal Information (EEA Visitors Only)</h4>
                                <p>Our legal basis for collecting and using the personal information described above will depend on the personal information concerned and the specific context in which we collect it. However, we will normally collect personal information from you only where we have your consent to do so, where we need the personal information to perform a contract with you, or where the processing is in our legitimate interests and not overridden by your data protection interests or fundamental rights and freedoms. In some cases, we may also have a legal obligation to collect personal information from you.</p>
                                <p>If we ask you to provide personal information to comply with a legal requirement or to perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of your personal information is mandatory or not (as well as of the possible consequences if you do not provide your personal information). Similarly, if we collect and use your personal information in reliance on our legitimate interests (or those of any third party), we will make clear to you at the relevant time what those legitimate interests are.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Use of Navigational Information</h4>
                                <p>We use Navigational Information to operate and improve the Websites. We may also use Navigational Information alone or in combination with Personal Information.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Security of Your Personal Information</h4>
                                <p>We use a variety of security technologies and procedures to help protect your Personal Information from unauthorized access, use or disclosure. All Personal Information is protected using appropriate physical, technical and organizational measures.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Customer Testimonials and Comments</h4>
                                <p>We may post customer testimonials and comments on our Websites. If just testimonials contain Personal Information, we obtain each customer’s consent via email prior to posting the customer’s name and testimonial.</p>
                            </div>
                            <div class="doc-box">
                                <h4>External Websites</h4>
                                <p>Our Websites provide links to other websites. We do not control, and are not responsible for, the content or practices of these other websites. Our provision of such links does not constitute our endorsement of these other websites, their content, their owners, or their practices. This Privacy Policy does not apply to these other websites, which are subject to any privacy and other policies they may have.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Retention of Personal Information</h4>
                                <p>If you have elected to receive marketing communications from us, we retain information about your marketing preferences for a reasonable period of time from the date you last expressed interest in our content, products, or services, such as when you last opened an email from us. We retain information derived from cookies and other tracking technologies for a reasonable period of time from the date such information was created.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-doc">
                        <h2>3. How We Share Information We Collect</h2>
                        <div class="doc-box-wrap">
                            <div class="doc-box">
                                <h4>Parsec Partners</h4>
                                <p>In addition, we may share data with trusted partners to contact you based on your request to receive such communications, help us perform statistical analysis, or provide customer support. We partner with trusted third parties to provide you with co-marketing content that we think may be relevant to you.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Compelled Disclosure</h4>
                                <p>We reserve the right to use or disclose your Personal Information if required by law or if we reasonably believe that use or disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or comply with a law, court order, or legal process.</p>
                            </div>
                            <div class="doc-box">
                                <h4>International Transfers to Third Parties</h4>
                                <p>Some of the third parties described in this privacy policy, which provide services to us under contract, are based in other countries that may not have equivalent privacy and data protection laws to the country in which you reside.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-doc">
                        <h2>4. Cookies and Similar Technologies</h2>
                        <div class="doc-box-wrap">
                            <div class="doc-box">
                                <h4>Cookies</h4>
                                <p>Parsec uses cookies or similar technologies (such as web beacons) to analyze trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Advertising</h4>
                                <p>We partner with a third party ad network to either display advertising on our Web site or to manage our advertising on other sites. Our ad network partner uses cookies and Web beacons to collect information about your activities on this and other Web sites to provide you targeted advertising based upon your interests.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Third Party Tracking Technologies</h4>
                                <p>The use of cookies and web beacons by any tracking utility company is not covered by our Privacy Policy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-doc">
                        <h2>5. How to Access & Control Your Personal Data</h2>
                        <div class="doc-box-wrap">
                            <div class="doc-box">
                                <h4>Reviewing, Correcting and Removing Your Personal Information</h4>
                                <p>You have the following data protection rights:</p>
                                <p>You can request access, correction, updates or deletion of your personal information.</p>
                                <p>You can object to processing of your personal information, ask us to restrict processing of your personal information or request portability of your personal information.</p>
                                <p>If we have collected and process your personal information with your consent, then you can withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
                                <p>You have the right to complain to a data protection authority about our collection and use of your personal information. Contact details for data protection authorities in the EEA, Switzerland and certain non-European countries (including the US and Canada) are available here.)</p>
                                <p>To exercise any of these rights, please contact us at privacy@parsec-corp.com or by post to Parsec Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attention: Privacy. We will respond to your request to change, correct, or delete your information within a reasonable timeframe and notify you of the action we have taken.</p>
                            </div>
                            <div class="doc-box">
                                <h4>Anti-Spam Policy</h4>
                                <p>You may unsubscribe from our marketing communications by clicking on the “unsubscribe” link located on the bottom of our e-mails, updating your communication preferences, or by sending an email to us at privacy@parsec-corp.com or by post to Parsec</p>
                                <p>Automation Corp, 180 North Riverview Drive, Suite 300, Anaheim, CA 92808 USA, Attention: Privacy. Customers cannot opt out of receiving transactional emails related to their account with us or the Software Product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
