src/views/quality.pug
extends extends/layout

block body
    body.page-quality

block title
    title Parsec - Quality

block content

    // header
    include includes/header-2

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Quality Operation Management
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-quality.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Create And Enforce A Quality By Design Culture
                        p Through a real-time, interactive, and operationally-focused approach to your quality management, TrakSYS makes it possible to bring about and enforce a quality-by-design culture that is both effective and sustainable. The availability of real-time, contextualized information using TrakSYS provides deep insights into the causes of poor quality. And TrakSYS provides the tools to take quick action on those insights, creating a closed-loop system of quality management.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-engineer.png", alt="name")
                        h4 Improve Customer Satisfaction
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Reduce Costs of Poor Quality
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-conveyor.png", alt="name")
                        h4 Standardize Processes
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-gears.png", alt="name")
                        h4 Maintain Regulatory Compliance

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Complete Production Management Solution
                        p With TrakSYS, you can manage all essential elements of quality such as tasks, scheduling, procedures, employee qualifications, reports, and analysis, notifications, and audit trail. Based on an easy-to-use mobile platform TrakSYS helps you implement systematic approaches to reduce process variation and maximize product quality and compliance.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/tasks-alerts-journals-and-more.png", alt="name")
                            .panel-intro
                                h2 Real-time Quality Data Collection
                                p TrakSYS allows you to define and manage your quality control plans. Schedule unique tasks as it relates to products, production steps, materials, and labor and assets involved. Useful for Pre-operational, HACCP, and In-Process inspections. Provide instant access through reports and displays for quicker decision-making. With real-time alerts, notifications, escalations, and the ability to configure automated workflows, TrakSYS gives you the tools to communicate and resolve problems quickly and effectively.
                        .panel-box
                            .panel-media
                                img(src="images/document-and-revision-control.png", alt="name")
                            .panel-intro
                                h2 Document And Revision Control
                                p Store documents in the built-in Document Library or link to externally stored files. Provide users quick access to standardize procedures in useful formats – pictures, videos, flowcharts, and checklists – reinforcing Best Practices. TrakSYS Audit feature offers a configurable way to track documents and system revisions. Manage employee training, skill sets, certifications, authorization, and security clearance.
                        .panel-box
                            .panel-media
                                img(src="images/track-and-manage-scrap-and-product-defects.png", alt="name")
                            .panel-intro
                                h2 Track And Manage Scrap & Product Defects
                                p Connected to your existing automation infrastructure, TrakSYS provides a clear view of what is happening on your plant floor and informs you of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for quality improvement.
                        .panel-box
                            .panel-media
                                img(src="images/real-time-spc.png", alt="name")
                            .panel-intro
                                h2 Real-Time Spc
                                p Display product or process measurements to control quality during the manufacturing process. Data can be gathered through manual input or seamlessly connect to in-line or offline measurement equipment. With real-time alerts and notifications, adjustments can be quickly made to improve process capabilities and minimize the costs of poor quality or product give-away.
                        .panel-box
                            .panel-media
                                img(src="images/data-historian.png", alt="name")
                            .panel-intro
                                h2 Data Historian
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.
                        .panel-box
                            .panel-media
                                img(src="images/customer-complaint-management.png", alt="name")
                            .panel-intro
                                h2 Customer Complaint Management
                                p Record, track and analyze customer complaint trends. Use TrakSYS Traceability to identify if complaints are originating from specific production dates, shifts, products, batch numbers, lot numbers, and production lines. Identify root causes, monitor eliminated reoccurring issues, and determine if corrective and preventive actions are effective.
                        .panel-box
                            .panel-media
                                img(src="images/corrective-and-preventive-action-management.png", alt="name")
                            .panel-intro
                                h2 Non-Conformance/Corrective And Preventive Action Management
                                p Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.

    // section-media-o 
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Metricks & Reporting
                        p Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/report-media.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Production Management
                        p Want to learn more about Production Management? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 White Paper
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/quality.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Quality</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-quality"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Quality Operation Management</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-quality.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Create And Enforce A Quality By Design Culture</h2>
                        <p>Through a real-time, interactive, and operationally-focused approach to your quality management, TrakSYS makes it possible to bring about and enforce a quality-by-design culture that is both effective and sustainable. The availability of real-time, contextualized information using TrakSYS provides deep insights into the causes of poor quality. And TrakSYS provides the tools to take quick action on those insights, creating a closed-loop system of quality management.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-engineer.png" alt="name">
                        </span>
                        <h4>Improve Customer Satisfaction</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-weight.png" alt="name">
                        </span>
                        <h4>Reduce Costs of Poor Quality</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-conveyor.png" alt="name">
                        </span>
                        <h4>Standardize Processes</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-gears.png" alt="name">
                        </span>
                        <h4>Maintain Regulatory Compliance</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>A Complete Production Management Solution</h2>
                        <p>With TrakSYS, you can manage all essential elements of quality such as tasks, scheduling, procedures, employee qualifications, reports, and analysis, notifications, and audit trail. Based on an easy-to-use mobile platform TrakSYS helps you implement systematic approaches to reduce process variation and maximize product quality and compliance.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/tasks-alerts-journals-and-more.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Real-time Quality Data Collection</h2>
                                <p>TrakSYS allows you to define and manage your quality control plans. Schedule unique tasks as it relates to products, production steps, materials, and labor and assets involved. Useful for Pre-operational, HACCP, and In-Process inspections. Provide instant access through reports and displays for quicker decision-making. With real-time alerts, notifications, escalations, and the ability to configure automated workflows, TrakSYS gives you the tools to communicate and resolve problems quickly and effectively.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/document-and-revision-control.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Document And Revision Control</h2>
                                <p>Store documents in the built-in Document Library or link to externally stored files. Provide users quick access to standardize procedures in useful formats – pictures, videos, flowcharts, and checklists – reinforcing Best Practices. TrakSYS Audit feature offers a configurable way to track documents and system revisions. Manage employee training, skill sets, certifications, authorization, and security clearance.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/track-and-manage-scrap-and-product-defects.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Track And Manage Scrap & Product Defects</h2>
                                <p>Connected to your existing automation infrastructure, TrakSYS provides a clear view of what is happening on your plant floor and informs you of events requiring attention. Engage operators to detail specific root causes or corrective actions, to leverage their knowledge, for quality improvement.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/real-time-spc.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Real-Time Spc</h2>
                                <p>Display product or process measurements to control quality during the manufacturing process. Data can be gathered through manual input or seamlessly connect to in-line or offline measurement equipment. With real-time alerts and notifications, adjustments can be quickly made to improve process capabilities and minimize the costs of poor quality or product give-away.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/data-historian.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Data Historian</h2>
                                <p>Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/customer-complaint-management.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Customer Complaint Management</h2>
                                <p>Record, track and analyze customer complaint trends. Use TrakSYS Traceability to identify if complaints are originating from specific production dates, shifts, products, batch numbers, lot numbers, and production lines. Identify root causes, monitor eliminated reoccurring issues, and determine if corrective and preventive actions are effective.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/corrective-and-preventive-action-management.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Non-Conformance/Corrective And Preventive Action Management</h2>
                                <p>Connect to automation to record and retrieve time-series production and process data. Data Historian further enhances Traceability, enabling users to analyze sources of variation, identify process improvement opportunities, and quickly troubleshoot root causes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o -->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Metricks & Reporting</h2>
                        <p>Gain visibility into production operations, including status of jobs, schedule attainment, and resource performance. Compare by operator, team, shift, route, supplier, lot and more to identify why “golden” runs are exceptional. Quickly determine areas of the factory that are bottlenecks and prioritize your improvement plan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/report-media.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of Production Management</h2>
                        <p>Want to learn more about Production Management? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
