dist/single-blog.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Single Blog</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-single-post"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- filter-->
    <section class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="filter-bar">
                        <ul class="tag-list">
                            <li>
                                <a href="#">Cont, Improv.</a>
                            </li>
                            <li class="active">
                                <a href="#">EBP</a>
                            </li>
                            <li>
                                <a href="#">ERP</a>
                            </li>
                            <li>
                                <a href="#">HACCP</a>
                            </li>
                            <li>
                                <a href="#">MES</a>
                            </li>
                            <li>
                                <a href="#">OEE</a>
                            </li>
                            <li>
                                <a href="#">Quality</a>
                            </li>
                            <li>
                                <a href="#">Traceability</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">By Topic</a>
                                <div class="dropdown-menu">
                                    <a class="active" href="#">Lean Manufacturing</a>
                                    <a href="#">Operations Management</a>
                                    <a href="#">Performance Management</a>
                                    <a href="#">Quality Compliance</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">By Media</a>
                                <div class="dropdown-menu">
                                    <a href="#">Case Studies</a>
                                    <a href="#">eBooks</a>
                                    <a href="#">Infographics & Datasheets</a>
                                    <a href="#">White Papers</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- post-single-->
    <section class="post-single post-type-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="post-breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li class="active">
                            <a href="#">Single Blog</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="post-content">
                        <img src="images/post-thumb-12.png" alt="name">
                        <h1>Improving Overall Equipment Effectiveness and Increasing Operational Excellence</h1>
                        <p>The supply chain needs to be carefully managed so production capacity and product inventory are perfectly harmonized. Operational excellence at fermacell is built from a solid management infrastructure, employee engagement programs, and quality operating systems.</p>
                        <ul>
                            <li>Substantial labor savings for administrative tasks</li>
                            <li>Reduced customer complaints</li>
                            <li>Increased visibility of real-time metrics</li>
                            <li>Increased labor productivity</li>
                            <li>Improved order management</li>
                            <li>Increased product quality</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="post-form">
                        <h4>Download the Case Study to Learn More</h4>
                        <iframe src="//go.pardot.com/l/366621/2018-05-24/319ty"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="tags">
                        <span>Tags</span>
                        <ul class="tag-list">
                            <li>
                                <a href="#">ERP</a>
                            </li>
                            <li>
                                <a href="#">HACCP</a>
                            </li>
                            <li>
                                <a href="#">Quality</a>
                            </li>
                            <li>
                                <a href="#">Traceability</a>
                            </li>
                        </ul>
                        <div class="post-nav">
                            <a class="prev" href="#">
                                <i class="fa fa-angle-left"></i>Prev
                            </a>
                            <a class="next" href="#">Next<i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- post-carousel-->
    <section class="post-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-bar-post">
                        <h2>Other Similar Posts</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-carousel-post owl-theme">
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/post-thumb-03.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">7 Best Practices of Highly Effective Teams</a>
                                </h2>
                                <p>
                                    <a href="#">Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Ebook</a>
                            </div>
                        </div>
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <i class="fa fa-play"></i>
                                    <img src="images/post-thumb-04.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">Comprehensive Real-Time Traceability</a>
                                </h2>
                                <p>
                                    <a href="#">Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Infograph</a>
                            </div>
                        </div>
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/post-thumb-05.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">Improving Quality Management</a>
                                </h2>
                                <p>
                                    <a href="#">Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Infograph</a>
                            </div>
                        </div>
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/post-thumb-03.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">7 Best Practices of Highly Effective Teams</a>
                                </h2>
                                <p>
                                    <a href="#">Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Ebook</a>
                            </div>
                        </div>
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <i class="fa fa-play"></i>
                                    <img src="images/post-thumb-04.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">Comprehensive Real-Time Traceability</a>
                                </h2>
                                <p>
                                    <a href="#">Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Infograph</a>
                            </div>
                        </div>
                        <div class="post post-xs">
                            <div class="post-media">
                                <a href="#">
                                    <img src="images/post-thumb-05.png" alt="name">
                                </a>
                            </div>
                            <div class="post-intro">
                                <h2>
                                    <a href="#">Improving Quality Management</a>
                                </h2>
                                <p>
                                    <a href="#">Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality</a>
                                </p>
                                <a class="btn btn-gray" href="#">Download Infograph</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/single-blog.pug
extends extends/layout

block body
    body.page-single-post

block title
    title Parsec - Single Blog

block content

    // header
    include includes/header-3

    // filter
    include includes/filter

    // post-single
    section.post-single.post-type-image
        .container
            .row
                .col-lg-12
                    ul.post-breadcrumb
                        li
                            a(href="#") Home
                        li
                            a(href="#") Blog
                        li.active
                            a(href="#") Single Blog
            .row
                .col-lg-7.col-md-12
                    .post-content
                        img(src="images/post-thumb-12.png", alt="name")
                        h1 Improving Overall Equipment Effectiveness and Increasing Operational Excellence
                        p The supply chain needs to be carefully managed so production capacity and product inventory are perfectly harmonized. Operational excellence at fermacell is built from a solid management infrastructure, employee engagement programs, and quality operating systems.
                        ul
                            li Substantial labor savings for administrative tasks
                            li Reduced customer complaints
                            li Increased visibility of real-time metrics
                            li Increased labor productivity
                            li Improved order management
                            li Increased product quality
                .col-lg-5.col-md-12
                    .post-form
                        h4 Download the Case Study to Learn More
                        iframe(src="//go.pardot.com/l/366621/2018-05-24/319ty")

                        //- <form method="post" action="#" class="form" id="pardot-form">
                        //-     <p class="form-field emailField email pd-text required required-custom">
                        //-         <label class="field-label" for="email">Business Email (See <a href="http://parsec-corp.com/privacy/" target="_blank">Privacy Policy</a>)</label>
                        //-         <input type="text" name="email" id="email" value="email@gmail.com" class="text">
                        //-         <br>
                        //-         <span class="description">Not sfsdg sdgdsg? <a target="_self" href="/form/incorrectProspect/account_id/366621/campaign_id/109/form_id/2866">Click Here</a></span>
                        //-     </p>
                        //-     <div class="privacy">We're committed to your privacy. Parsec uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our <a href="//parsec-corp.com/privacy/" target="_blank">Privacy Policy</a></div>
                        //-     <p class="submit">
                        //-         <input type="submit" value="Download Now">
                        //-     </p>
                        //- </form>


            .row
                .col-lg-12
                    .tags
                        span Tags
                        ul.tag-list
                            li
                                a(href="#") ERP
                            li
                                a(href="#") HACCP
                            li
                                a(href="#") Quality
                            li
                                a(href="#") Traceability
                        .post-nav
                            a.prev(href="#")
                                i.fa.fa-angle-left
                                | Prev
                            a.next(href="#")
                                | Next
                                i.fa.fa-angle-right

    // post-carousel
    section.post-carousel
        .container
            .row
                .col-lg-12
                    .title-bar-post
                        h2 Other Similar Posts
            .row
                .col-lg-12
                    .owl-carousel.owl-carousel-post.owl-theme
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-03.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") 7 Best Practices of Highly Effective Teams
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Ebook
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    i.fa.fa-play
                                    img(src="images/post-thumb-04.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Comprehensive Real-Time Traceability
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-05.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Improving Quality Management
                                p
                                    a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-03.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") 7 Best Practices of Highly Effective Teams
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Ebook
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    i.fa.fa-play
                                    img(src="images/post-thumb-04.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Comprehensive Real-Time Traceability
                                p
                                    a(href="#") Continuous Improvement (CI) dramatically impacts your bottom line. To be effective, the strategy has to be embraced by everyone – which is no easy
                                a.btn.btn-gray(href="#") Download Infograph
                        .post.post-xs
                            .post-media
                                a(href="#")
                                    img(src="images/post-thumb-05.png", alt="name")
                            .post-intro
                                h2
                                    a(href="#") Improving Quality Management
                                p
                                    a(href="#") Manage manufacturing with operationally focused quality. Identify early issues and root-cause analysis and see why 66% of plants identify quality
                                a.btn.btn-gray(href="#") Download Infograph

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
