src/views/smart-devices.pug
extends extends/layout

block body
    body.page-smart-devices

block title
    title Parsec - IIoT Devices

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 IIoT as Simple as 1-2-3
                            p TrakSYS enabled Data Collectors. Operations management miniaturized.
                            a.btn.btn-gray(href="#") Let’s Get Started
                        .hero-media
                            img(src="images/hero-media-smart-devices.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Introducing the New TrakSYS™ IIoT Smart Data Collection System
                        p Looking for a way to get started with smart manufacturing but don’t have the infrastructure? Now you can get started without the need for a major IT project or large capital expenditure. Introducing the TrakSYS Smart Data Collection System, specially designed IIoT data collection devices and auto-configuration software that make connecting TrakSYS to your factory equipment as simple as 1-2-3.
            .row
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-computer.png", alt="name")
                        h4 Infrastructure-Friendly
                        p No drivers or OPC. No firewall issues (port 80 out).
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-weight.png", alt="name")
                        h4 Cost-Effective
                        p High engineering efficiency. Low cost of ownership.
                .col-lg-4.col-md-4
                    .feat-box
                        .icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Optimized for TrakSYS
                        p Direct TrakSYS connection. Fast and light.

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Smart Architecture
                        p The system includes IIoT data collectors and a coordinator, and auto-configuration software, to make it as easy as possible to set up and manage the TrakSYS Manufacturing Operations Management system in virtually any environment, regardless of existing infrastructure.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/data-collector.png", alt="name")
                            .panel-intro
                                h2 Smart Data Collector
                                p Housed in an IP65-rated enclosure, the Smart Data Collector connects to standard third-party sensors to gather production data via a lightweight RF mesh network.
                        .panel-box
                            .panel-media
                                img(src="images/smart-coordinator.png", alt="name")
                            .panel-intro
                                h2 Smart Coordinator
                                p The TrakSYS Smart Coordinator is an edge device that aggregates data from Smart Data Collectors and shares that input with a TrakSYS server — on premises or in the cloud.
                        .panel-box
                            .panel-media
                                img(src="images/configuration-software.png", alt="name")
                            .panel-intro
                                h2 Configuration Software
                                p Configuration is done through a web-based interface that allows you to set up and monitor the coordinator, individual data collectors, and the system’s connection to TrakSYS.

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Wireless Network
                        p Data Collectors are designed to work with one another, all sending data to a Coordinator.  The Coordinator acts as an intermediary between the Data Collectors and the TrakSYS server.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/network-media-01.png", alt="name")

    // section-media-o
    section.section-media-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Mesh Network
                        p As multiple Data Collectors are connected to the Coordinator, a mesh network is created and increases the effective range of the Coordinator.
            .row
                .col-lg-12
                    .media-o-item
                        img(src="images/network-media-02.png", alt="name")

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/smart-data-collector.png", alt="name")
                            .panel-intro
                                h2 Use TrakSYS to Gain Insights, Optimize Operations
                                p Gain unparalleled insight into your operation, using real-time production data. Then take what you learn and put it into action, using the built-in management features of TrakSYS.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of TrakSYS
                        p Want to learn more about TrakSYS for Packaged Goods? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-technology.png", alt="name")
                        h4 Infographic
                        p Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-02.png", alt="name")
                        h4 Case Study
                        p While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/smart-devices.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - IIoT Devices</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-smart-devices"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>IIoT as Simple as 1-2-3</h1>
                            <p>TrakSYS enabled Data Collectors. Operations management miniaturized.</p>
                            <a class="btn btn-gray" href="#">Let’s Get Started</a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-smart-devices.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Introducing the New TrakSYS™ IIoT Smart Data Collection System</h2>
                        <p>Looking for a way to get started with smart manufacturing but don’t have the infrastructure? Now you can get started without the need for a major IT project or large capital expenditure. Introducing the TrakSYS Smart Data Collection System, specially designed IIoT data collection devices and auto-configuration software that make connecting TrakSYS to your factory equipment as simple as 1-2-3.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-computer.png" alt="name">
                        </div>
                        <h4>Infrastructure-Friendly</h4>
                        <p>No drivers or OPC. No firewall issues (port 80 out).</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-weight.png" alt="name">
                        </div>
                        <h4>Cost-Effective</h4>
                        <p>High engineering efficiency. Low cost of ownership.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="feat-box">
                        <div class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </div>
                        <h4>Optimized for TrakSYS</h4>
                        <p>Direct TrakSYS connection. Fast and light.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Smart Architecture</h2>
                        <p>The system includes IIoT data collectors and a coordinator, and auto-configuration software, to make it as easy as possible to set up and manage the TrakSYS Manufacturing Operations Management system in virtually any environment, regardless of existing infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/data-collector.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Smart Data Collector</h2>
                                <p>Housed in an IP65-rated enclosure, the Smart Data Collector connects to standard third-party sensors to gather production data via a lightweight RF mesh network.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/smart-coordinator.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Smart Coordinator</h2>
                                <p>The TrakSYS Smart Coordinator is an edge device that aggregates data from Smart Data Collectors and shares that input with a TrakSYS server — on premises or in the cloud.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configuration-software.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configuration Software</h2>
                                <p>Configuration is done through a web-based interface that allows you to set up and monitor the coordinator, individual data collectors, and the system’s connection to TrakSYS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o-->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Wireless Network</h2>
                        <p>Data Collectors are designed to work with one another, all sending data to a Coordinator. The Coordinator acts as an intermediary between the Data Collectors and the TrakSYS server.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/network-media-01.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-media-o-->
    <section class="section-media-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Mesh Network</h2>
                        <p>As multiple Data Collectors are connected to the Coordinator, a mesh network is created and increases the effective range of the Coordinator.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="media-o-item">
                        <img src="images/network-media-02.png" alt="name">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/smart-data-collector.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Use TrakSYS to Gain Insights, Optimize Operations</h2>
                                <p>Gain unparalleled insight into your operation, using real-time production data. Then take what you learn and put it into action, using the built-in management features of TrakSYS.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of TrakSYS</h2>
                        <p>Want to learn more about TrakSYS for Packaged Goods? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-technology.png" alt="name">
                        </span>
                        <h4>Infographic</h4>
                        <p>Whether you are already down the path of becoming a World-Class Manufacturer (WCM) or you are just starting your Lean initiative, these tips can help set goals that continue commitment to efficiency.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>While calculating and improving your own OEE always adds value to your organization, it helps to know where others stand to truly benchmark your OEE levels.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
