src/views/traceability.pug
extends extends/layout

block body
    body.page-traceability

block title
    title Parsec - Traceability

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Full Two-Way Traceability
                            p Loriam ipsom dolor sit amet information that is included in the bucket
                            a.btn.btn-lg.btn-gray.btn-play-blue.video-popup-link(href="https://vimeo.com/45830194")
                                i.fa.fa-play
                                | Watch Intro Video
                        .hero-media
                            img(src="images/hero-media-traceability.png" alt="name")

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Protect Consumers, Your Brand and Your Bottom Line
                        p Traceability in production is critical to protecting consumers and your brand. For regulated plants, recording, tracking, and tracing the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products is essential to regulatory compliance. Of course, a traceability solution can do more than help you comply with regulations; when traceability data is providing real-time transparency, it can help you proactively limit the impact of any quality problem before product is shipped.
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-safety.png", alt="name")
                        h4 Protect Customer Safety and Brand Reputation
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-review.png", alt="name")
                        h4 Comply With Regulatory Requirements
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-objective.png", alt="name")
                        h4 Improve Inventory Accuracy
                .col-lg-3.col-md-6.col-sm-6
                    .feat-box
                        span.icon
                            img(src="images/icon-time.png", alt="name")
                        h4 Minimize Recall Time and Costs

    // panel-boxes
    section.panel-boxes
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 A Full Two-Way Traceability Solution
                        p The TrakSYS Traceability solution captures a digital record of material and activities through the production lifecycle. TrakSYS can also integrate with ERP and LIMS to provide an expanded traceability chain from raw material sources through quality control and finished product release to customers. With TrakSYS tracing goods, backward along the supply chain or forward along the distribution chain, is accomplished in seconds instead of days with paper-based systems.
            .row
                .col-lg-12
                    .panel-box-list
                        .panel-box
                            .panel-media
                                img(src="images/production-lot-history.png", alt="name")
                            .panel-intro
                                h2 Production Lot History
                                p Track material lots, sublots, and consumption through each production step. Manage the assignment of new lot numbers and individual product serialization for more granular lot traceability, making it easier to isolate quality, warranty or safety issues.
                        .panel-box
                            .panel-media
                                img(src="images/genealogy.png", alt="name")
                            .panel-intro
                                h2 Genealogy
                                p Track product components through the production lifecycle including the raw materials, intermediate materials, and finished product stages to expedite investigation of customer complaints, supplier recalls, and other related quality conditions.
                        .panel-box
                            .panel-media
                                img(src="images/real-time-inventory-management.png", alt="name")
                            .panel-intro
                                h2 Real-Time Inventory Management
                                p Gain full visibility of material locations, statuses, and interruptions in material flow. Leverage machinery automation to track consumption and maintain inventory accuracy. Track and automate material replenishment to minimize production and delivery delays.
                        .panel-box
                            .panel-media
                                img(src="images/barcode-and-rfid-integration.png", alt="name")
                            .panel-intro
                                h2 Barcode And Rfid Integration
                                p Leverage hardware like 1D and 2D barcodes, Direct Part Marking, and RFID technology to reduce human error and improve productivity.
                        .panel-box
                            .panel-media
                                img(src="images/configurability.png", alt="name")
                            .panel-intro
                                h2 Configurability
                                p Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.
                        .panel-box
                            .panel-media
                                img(src="images/extensibility.png", alt="name")
                            .panel-intro
                                h2 Extensibility
                                p TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.

    // features
    section.features
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Learn More About the Power of Two-Way Traceability
                        p Want to learn more about TrakSYS for Traceability? Check out these handy documents.
            .row
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-checklist.png", alt="name")
                        h4 White Paper
                        p Learn what tracking a product’s life-cycle throughout production can add to your manufacturing operations.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-brochure.png", alt="name")
                        h4 Brochure
                        p TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.
                        a.btn.btn-gray(href="#") Download
                .col-lg-4
                    .feat-box
                        span.icon
                            img(src="images/icon-product-01.png", alt="name")
                        h4 Case Study
                        p Dana ENCO wanted to ensure the quality of each manufactured part with complete traceability through accurate data collection and analysis at each and every step of production.
                        a.btn.btn-gray(href="#") Download

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

dist/traceability.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Traceability</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-traceability"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Full Two-Way Traceability</h1>
                            <p>Loriam ipsom dolor sit amet information that is included in the bucket</p>
                            <a class="btn btn-lg btn-gray btn-play-blue video-popup-link" href="https://vimeo.com/45830194">
                                <i class="fa fa-play"></i>Watch Intro Video
                            </a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-traceability.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Protect Consumers, Your Brand and Your Bottom Line</h2>
                        <p>Traceability in production is critical to protecting consumers and your brand. For regulated plants, recording, tracking, and tracing the genealogy of raw materials, Work-in-Process (WIP), and go-to-market products is essential to regulatory compliance. Of course, a traceability solution can do more than help you comply with regulations; when traceability data is providing real-time transparency, it can help you proactively limit the impact of any quality problem before product is shipped.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-safety.png" alt="name">
                        </span>
                        <h4>Protect Customer Safety and Brand Reputation</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-review.png" alt="name">
                        </span>
                        <h4>Comply With Regulatory Requirements</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-objective.png" alt="name">
                        </span>
                        <h4>Improve Inventory Accuracy</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-time.png" alt="name">
                        </span>
                        <h4>Minimize Recall Time and Costs</h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- panel-boxes-->
    <section class="panel-boxes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>A Full Two-Way Traceability Solution</h2>
                        <p>The TrakSYS Traceability solution captures a digital record of material and activities through the production lifecycle. TrakSYS can also integrate with ERP and LIMS to provide an expanded traceability chain from raw material sources through quality control and finished product release to customers. With TrakSYS tracing goods, backward along the supply chain or forward along the distribution chain, is accomplished in seconds instead of days with paper-based systems.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-box-list">
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/production-lot-history.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Production Lot History</h2>
                                <p>Track material lots, sublots, and consumption through each production step. Manage the assignment of new lot numbers and individual product serialization for more granular lot traceability, making it easier to isolate quality, warranty or safety issues.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/genealogy.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Genealogy</h2>
                                <p>Track product components through the production lifecycle including the raw materials, intermediate materials, and finished product stages to expedite investigation of customer complaints, supplier recalls, and other related quality conditions.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/real-time-inventory-management.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Real-Time Inventory Management</h2>
                                <p>Gain full visibility of material locations, statuses, and interruptions in material flow. Leverage machinery automation to track consumption and maintain inventory accuracy. Track and automate material replenishment to minimize production and delivery delays.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/barcode-and-rfid-integration.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Barcode And Rfid Integration</h2>
                                <p>Leverage hardware like 1D and 2D barcodes, Direct Part Marking, and RFID technology to reduce human error and improve productivity.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/configurability.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Configurability</h2>
                                <p>Web-based configuration tools and an integrated scripting environment allow the construction of tailored solutions without the need for custom code.</p>
                            </div>
                        </div>
                        <div class="panel-box">
                            <div class="panel-media">
                                <img src="images/extensibility.png" alt="name">
                            </div>
                            <div class="panel-intro">
                                <h2>Extensibility</h2>
                                <p>TrakSYS is a full MOM platform, with standard function libraries that can be readily adjusted to create focused solutions in a fraction of the time compared to traditional development. This important functionality delivers both rapid deployment and cost-effective extensibility.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- features-->
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Learn More About the Power of Two-Way Traceability</h2>
                        <p>Want to learn more about TrakSYS for Traceability? Check out these handy documents.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-checklist.png" alt="name">
                        </span>
                        <h4>White Paper</h4>
                        <p>Learn what tracking a product’s life-cycle throughout production can add to your manufacturing operations.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-brochure.png" alt="name">
                        </span>
                        <h4>Brochure</h4>
                        <p>TrakSYS has been designed to work the way you work: fast, flexible, and focused on solving specific business challenges.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feat-box">
                        <span class="icon">
                            <img src="images/icon-product-01.png" alt="name">
                        </span>
                        <h4>Case Study</h4>
                        <p>Dana ENCO wanted to ensure the quality of each manufactured part with complete traceability through accurate data collection and analysis at each and every step of production.</p>
                        <a class="btn btn-gray" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>
