dist/training.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Training</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-training"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>Elevate. Enhance. Extend.</h1>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-training.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- training-->
    <section class="training">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Elevate Your Team’s Capabilities</h2>
                        <p>Invest in your employees through our training and allow your best ideas to emerge. Remove dependencies on external vendors for integration help and expertise. Give the people who know your process best the knowledge to apply TrakSYS to your unique situation.</p>
                        <h3>2018-2019 Training Calender</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">3 Jun - 5 Jun</span>
                        <h3>TrakSYS 10 Introduction</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">5 Jun - 5 July</span>
                        <h3>TrakSYS 10 Advanced</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">3 Jun - 7 Jun</span>
                        <h3>TrakSYS 10 Comprehensive</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">3 Jun - 5 Jun</span>
                        <h3>TrakSYS 10 Introduction</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">5 Jun - 5 July</span>
                        <h3>TrakSYS 10 Advanced</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-box info-box-tcal">
                        <span class="date">3 Jun - 7 Jun</span>
                        <h3>TrakSYS 10 Comprehensive</h3>
                        <p>3-day instructor-led, hands-on training course</p>
                        <a class="btn btn-gray" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-sec">
                        <a class="btn btn-blue" href="#">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- hotels-->
    <section class="hotels">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Nearby Hotels</h2>
                        <p>The following hotels are within three (3) miles of Parsec Automation Corp. Reservations can be made directly with your hotel of choice.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="info-box info-box-hotel">
                        <h3>Ayres Suites</h3>
                        <p>22677 Oakcrest Circle
                            <br>Yorba Linda, CA 92887</p>
                        <p>Phone: 714-921-8688</p>
                        <p>(Use code PAR for the Parsec Corporate Rate)</p>
                        <div class="button-group">
                            <a class="btn btn-gray" href="#">Book Ayres Suites</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="info-box info-box-hotel">
                        <h3>Residence Inn by Marriott</h3>
                        <p>125 South Festival Drive
                            <br>Anaheim Hills, CA 92808</p>
                        <p>Phone: 714-974-8880</p>
                        <p>Fax: 714-974-8832</p>
                        <div class="button-group">
                            <a class="btn btn-gray" href="#">Book Residence Inn</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="info-box info-box-hotel">
                        <h3>Ayres Suites</h3>
                        <p>22677 Oakcrest Circle
                            <br>Yorba Linda, CA 92887</p>
                        <p>Phone: 714-921-8688</p>
                        <p>(Use code PAR for the Parsec Corporate Rate)</p>
                        <div class="button-group">
                            <a class="btn btn-gray" href="#">Book Ayres Suites</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="info-box info-box-hotel">
                        <h3>Residence Inn by Marriott</h3>
                        <p>125 South Festival Drive
                            <br>Anaheim Hills, CA 92808</p>
                        <p>Phone: 714-974-8880</p>
                        <p>Fax: 714-974-8832</p>
                        <div class="button-group">
                            <a class="btn btn-gray" href="#">Book Residence Inn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- g-map-->
    <section class="g-map">
        <div class="map" id="map-single" data-lat="33.869529" data-lng="-117.742772" data-title="Parsec Automation Corporation" data-addr="180 North Riverview Drive # 300, Anaheim, CA 92808"></div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ"></script>
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/training.pug
extends extends/layout

block body
    body.page-training

block title
    title Parsec - Training

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 Elevate. Enhance. Extend.
                        .hero-media
                            img(src="images/hero-media-training.png" alt="name")

    // training
    section.training
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Elevate Your Team’s Capabilities
                        p Invest in your employees through our training and allow your best ideas to emerge. Remove dependencies on external vendors for integration help and expertise. Give the people who know your process best the knowledge to apply TrakSYS to your unique situation.
                        h3 2018-2019 Training Calender
            .row
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 5 Jun
                        h3 TrakSYS 10 Introduction
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 5 Jun - 5 July
                        h3 TrakSYS 10 Advanced
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 7 Jun
                        h3 TrakSYS 10 Comprehensive
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 5 Jun
                        h3 TrakSYS 10 Introduction
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 5 Jun - 5 July
                        h3 TrakSYS 10 Advanced
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
                .col-lg-4.col-md-6
                    .info-box.info-box-tcal
                        span.date 3 Jun - 7 Jun
                        h3 TrakSYS 10 Comprehensive
                        p 3-day instructor-led, hands-on training course
                        a.btn.btn-gray(href="#") Learn More
            .row
                .col-lg-12
                    .cta-sec
                        a.btn.btn-blue(href="#") Load More

    // hotels
    section.hotels
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Nearby Hotels
                        p The following hotels are within three (3) miles of Parsec Automation Corp. Reservations can be made directly with your hotel of choice.
            .row
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Ayres Suites
                        p 22677 Oakcrest Circle<br>Yorba Linda, CA 92887
                        p Phone: 714-921-8688
                        p (Use code PAR for the Parsec Corporate Rate)
                        .button-group
                            a.btn.btn-gray(href="#") Book Ayres Suites
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Residence Inn by Marriott
                        p 125 South Festival Drive<br>Anaheim Hills, CA 92808
                        p Phone: 714-974-8880
                        p Fax: 714-974-8832
                        .button-group
                            a.btn.btn-gray(href="#") Book Residence Inn
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Ayres Suites
                        p 22677 Oakcrest Circle<br>Yorba Linda, CA 92887
                        p Phone: 714-921-8688
                        p (Use code PAR for the Parsec Corporate Rate)
                        .button-group
                            a.btn.btn-gray(href="#") Book Ayres Suites
                .col-lg-6.col-md-6
                    .info-box.info-box-hotel
                        h3 Residence Inn by Marriott
                        p 125 South Festival Drive<br>Anaheim Hills, CA 92808
                        p Phone: 714-974-8880
                        p Fax: 714-974-8832
                        .button-group
                            a.btn.btn-gray(href="#") Book Residence Inn

    // g-map
    section.g-map
        .map#map-single(data-lat="33.869529", data-lng="-117.742772", data-title="Parsec Automation Corporation" data-addr="180 North Riverview Drive # 300, Anaheim, CA 92808")

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer

//- google map script
prepend scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1_9wafTrKjPVPCH6t6MlhXrBJnDeFyQ")
