dist/webinars.html
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parsec - Webinar</title><!-- favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico"><!-- styles-->
    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body class="page-webinars"></body>

<body>
    <!-- header-->
    <div class="search-box">
        <form class="form-search" action="#">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing...">
                <a class="btn-close" href="#">&#10005;</a>
            </div>
        </form>
    </div>
    <header class="header header-dark fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <a class="custom-logo-link" href="index.html">
                            <img src="images/logo-blue.png" alt="Parsec">
                        </a>
                        <div class="nav-wrap">
                            <a class="nav-toggler" href="#">
                                <i class="fa fa-bars"></i>
                            </a>
                            <ul class="main-nav">
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">TrakSYS</a>
                                    <div class="dropdown-menu">
                                        <a class="current-menu-item" href="overview.html">Overview</a>
                                        <a href="key-features.html">Key Features</a>
                                        <a href="deployment.html">Deployment</a>
                                        <a href="smart-devices.html">IIoT Devices</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Solutions</a>
                                    <div class="dropdown-menu">
                                        <a href="production.html">Production</a>
                                        <a href="quality.html">Quality</a>
                                        <a href="maintenance.html">Maintenance</a>
                                        <a href="inventory.html">Inventory</a>
                                        <a href="solutions.html">View All Solutions</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Industries</a>
                                    <div class="dropdown-menu">
                                        <a href="automotive.html">Automotive</a>
                                        <a href="chemicals.html">Chemicals</a>
                                        <a href="food-beverage.html">Food and Beverage</a>
                                        <a href="life-sciences.html">Life Sciences</a>
                                        <a href="packaged-goods.html">Packaged Goods</a>
                                        <a href="industries.html">View All Industries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Services</a>
                                    <div class="dropdown-menu">
                                        <a href="services.html">Services</a>
                                        <a href="implementation.html">Implementation</a>
                                        <a href="mentoring.html">Mentoring</a>
                                        <a href="support.html">Support</a>
                                        <a href="training.html">Training</a>
                                        <a href="partners.html">Partners</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown">Company</a>
                                    <div class="dropdown-menu">
                                        <a href="resources.html">Resource Library</a>
                                        <a href="webinars.html">Webinars</a>
                                        <a href="company.html">Company</a>
                                        <a href="about.html">About</a>
                                        <a href="contact-us.html">Contact Us</a>
                                        <a href="careers.html">Careers</a>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-link">
                                <a href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- hero-->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-content">
                        <div class="hero-intro">
                            <h1>
                                <span>Come Learn More About</span> Manufacturing Strategies And Our Software <span>At One Of Our Webinars</span>
                            </h1>
                            <a class="btn-smooth-scroll btn btn-gray" href="#calendar">View Calender</a>
                        </div>
                        <div class="hero-media">
                            <img src="images/hero-media-webinar.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- section-intro-o        -->
    <section class="section-intro-o">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Making an investment in manufacturing operations management software is a big decision.</h2>
                        <p>Looking for more information before you make a decision? Check out our webinars, where manufacturing experts talk about what questions to ask, what to look out for, and how best to deploy technology to optimize results for your operation. Topics include management methods such as Continuous Improvement and Lean, to specific manufacturing challenges and solutions, such as quality, SPC, maintenance, e-records, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- webinar-next-->
    <section class="webinar-next" id="calendar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Upcoming Webinar Calender</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box info-box-wcal">
                        <div class="content">
                            <span class="date">June 26, 2019</span>
                            <h3>Quality Management Webinar</h3>
                            <p>Discover how effective quality management drives bottom line results</p>
                            <a class="btn btn-gray" href="#">Register</a>
                        </div>
                        <div class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-wcal">
                        <div class="content">
                            <span class="date">May 29, 2019</span>
                            <h3>Maximize Productivity Through More Effective Maintence Management</h3>
                            <p>Significantly optimize the overall effectiveness of your maintenance program.</p>
                            <a class="btn btn-gray" href="#">Register</a>
                        </div>
                        <div class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-wcal">
                        <div class="content">
                            <span class="date">June 26, 2019</span>
                            <h3>Quality Management Webinar</h3>
                            <p>Discover how effective quality management drives bottom line results</p>
                            <a class="btn btn-gray" href="#">Register</a>
                        </div>
                        <div class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-wcal">
                        <div class="content">
                            <span class="date">May 29, 2019</span>
                            <h3>Maximize Productivity Through More Effective Maintence Management</h3>
                            <p>Significantly optimize the overall effectiveness of your maintenance program.</p>
                            <a class="btn btn-gray" href="#">Register</a>
                        </div>
                        <div class="icon">
                            <img src="images/icon-product-02.png" alt="name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- webinar-past-->
    <section class="webinar-past">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-intro">
                        <h2>Explore Past Webinars</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box info-box-webinar">
                        <img src="images/icon-product-02.png" alt="name">
                        <div class="content">
                            <h3>Energy Management Webinars</h3>
                            <p>Manage Sustainability And Cost With Energy Management</p>
                            <div class="button-group">
                                <a class="btn btn-bluish" href="#">Webinar Wrap Up</a>
                                <a class="btn btn-blue" href="#">Full Webinar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-webinar">
                        <img src="images/icon-product-02.png" alt="name">
                        <div class="content">
                            <h3>Streamlie Compliance Webinars</h3>
                            <p>Automate Record-Keeping To Stremline Compliance And Improve Quality</p>
                            <div class="button-group">
                                <a class="btn btn-bluish" href="#">Webinar Wrap Up</a>
                                <a class="btn btn-blue" href="#">Full Webinar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-webinar">
                        <img src="images/icon-product-02.png" alt="name">
                        <div class="content">
                            <h3>Discrete Manufacturing Webinars</h3>
                            <p>Digital Transformation For Discrete Manufacturing</p>
                            <div class="button-group">
                                <a class="btn btn-bluish" href="#">Webinar Wrap Up</a>
                                <a class="btn btn-blue" href="#">Full Webinar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="info-box info-box-webinar">
                        <img src="images/icon-product-02.png" alt="name">
                        <div class="content">
                            <h3>Performance Management Webinars</h3>
                            <p>What’s Limiting Your Supply Chain’s Performance?</p>
                            <div class="button-group">
                                <a class="btn btn-bluish" href="#">Webinar Wrap Up</a>
                                <a class="btn btn-blue" href="#">Full Webinar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- cta-box-->
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-box">
                        <div class="cta-intro">
                            <h3>What Are You Working On Right Now?</h3>
                            <p>Performance? Quality? E-Records? Tell us what you’re working on. Chances are, we can help.</p>
                        </div>
                        <a class="btn btn-blue" href="#">Let’s Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="widget">
                            <a class="custom-logo-link" href="#">
                                <img src="images/logo-blue.png" alt="Parsec">
                            </a>
                            <address>180 N Riverview Dr Ste 300 Anaheim CA 92808 USA</address>
                            <p>&copy; 2019 Parsec Automation Corp. All rights reserved.</p>
                            <ul class="menu menu-inline">
                                <li>
                                    <a href="privacy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-of-use.html">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Helpful Link</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">TrakSYS™</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">Industries</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">About</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="widget-title">Social</h6>
                            <ul class="menu">
                                <li>
                                    <a href="#">LinkedIN</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Youtube</a>
                                </li>
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget-group">
                            <div class="widget">
                                <h6 class="widget-title">Email</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="mailto:info@parsec-corp.com">info@parsec-corp.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget">
                                <h6 class="widget-title">Call</h6>
                                <ul class="menu">
                                    <li>
                                        <a href="tel:17149965302">1 . 714 . 996 . 5302</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- scripts-->
    <script src="scripts/main.min.js"></script>
</body>

</html>

src/views/webinars.pug
extends extends/layout

block body
    body.page-webinars

block title
    title Parsec - Webinar

block content

    // header
    include includes/header-3

    // hero
    section.hero
        .container
            .row
                .col-lg-12
                    .hero-content
                        .hero-intro
                            h1 <span>Come Learn More About</span> Manufacturing Strategies And Our Software <span>At One Of Our Webinars</span>
                            a.btn-smooth-scroll.btn.btn-gray(href="#calendar") View Calender
                        .hero-media
                            img(src="images/hero-media-webinar.png" alt="name")

    // section-intro-o        
    section.section-intro-o
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Making an investment in manufacturing operations management software is a big decision.
                        p Looking for more information before you make a decision? Check out our webinars, where manufacturing experts talk about what questions to ask, what to look out for, and how best to deploy technology to optimize results for your operation. Topics include management methods such as Continuous Improvement and Lean, to specific manufacturing challenges and solutions, such as quality, SPC, maintenance, e-records, and more.

    // webinar-next
    section#calendar.webinar-next
        .container
            .row
                .col-lg-12
                    .section-intro 
                        h2 Upcoming Webinar Calender
            .row
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date June 26, 2019
                            h3 Quality Management Webinar
                            p Discover how effective quality management drives bottom line results
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date May 29, 2019
                            h3 Maximize Productivity Through More Effective Maintence Management
                            p Significantly optimize the overall effectiveness of your maintenance program.
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date June 26, 2019
                            h3 Quality Management Webinar
                            p Discover how effective quality management drives bottom line results
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")
                .col-lg-6
                    .info-box.info-box-wcal
                        .content
                            span.date May 29, 2019
                            h3 Maximize Productivity Through More Effective Maintence Management
                            p Significantly optimize the overall effectiveness of your maintenance program.
                            a.btn.btn-gray(href="#") Register
                        .icon
                            img(src="images/icon-product-02.png", alt="name")

    // webinar-past
    section.webinar-past
        .container
            .row
                .col-lg-12
                    .section-intro
                        h2 Explore Past Webinars
            .row
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Energy Management Webinars
                            p Manage Sustainability And Cost With Energy Management
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Streamlie Compliance Webinars
                            p Automate Record-Keeping To Stremline Compliance And Improve Quality
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Discrete Manufacturing Webinars
                            p Digital Transformation For Discrete Manufacturing
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar
                .col-lg-6
                    .info-box.info-box-webinar
                        img(src="images/icon-product-02.png", alt="name")
                        .content
                            h3 Performance Management Webinars
                            p What’s Limiting Your Supply Chain’s Performance?
                            .button-group
                                a.btn.btn-bluish(href="#") Webinar Wrap Up
                                a.btn.btn-blue(href="#") Full Webinar

    // cta-box
    include includes/cta-box

    // footer
    include includes/footer
